@charset "utf-8";

%display-inline-block{display:inline-block;*display:inline;*zoom:1}
%sp-img{background-image:url(../im/sp/sp_img.png);background-repeat:no-repeat;background-color:transparent;@extend %display-inline-block;vertical-align:top}
%sp-ico{@extend %sp-img;background-image:url(../im/sp/sp_ico.png)}
%sp-main-tit{@extend %sp-img;background-image:url(../im/sp/sp_main_tit.png)}
%sp-fav{@extend %sp-img;background-image:url(../im/sp/sp_fav.png)}
%sp-pt-bg{@extend %sp-img;background-image:url(../im/sp/pt_sp_bg.png);background-repeat:repeat-x}
%cover{width:1180px;margin:0 auto;position:relative;zoom:1}
%sp-prod{background-image:url(../im/sp/sp_prod_view.png);background-repeat:no-repeat;background-color:transparent;@extend %display-inline-block;vertical-align:top}
%sp-rd{background:url(../im/sp/sp_component.png) no-repeat}
%nanum{font-family:nanumgothic,sans-serif;}
%sp-cmplt{background:url(../im/sp/sp_join_complete.png) no-repeat}


$color-price:#f54500;
$color-strong:#454545;
$color-weak:#757575;
$point-color1:#5cc4b9;

// 탭UI 우측기준 라인형
%tab-linear{
	position:absolute;right:0;top:0;white-space:nowrap;padding:0 3px;
	li{@extend %display-inline-block;padding-left:30px}
	a{color:#999;font-size:12px;letter-spacing:-1px;@extend %display-inline-block;height:23px;line-height:23px}
	a:hover,
	.selected a{color:#454545}
	.selected a{border-bottom:2px solid #f54500}
}

// 탭UI 박스형
%tab-box{
	@extend %tab-linear;position:static;overflow:hidden;padding:0 0 0 1px;@extend %sp-pt-bg;background-position:0 39px;height:40px;
	li{padding:0;border:1px solid #e4e4e4;float:left;margin-left:-1px;border-bottom:0}
	li.selected{border-color:#bfbfbf;border-bottom:1px solid #fff;position:relative;z-index:10;margin-bottom:-1px}
	li.last{float:none;overflow:hidden;width:auto;display:block;margin-left:0;position:relative;left:-1px}
	li.last a{padding-right:1px}
	a{width:160px;height:38px;line-height:38px;text-align:center}
	.selected a{border:0}
	.hot_sale a{width:293px;color:#f54500}
}

// 로케이션
%location{
	position:absolute;left:40px;top:13px;line-height:16px;
	.ico_home{@extend %sp-prod;width:89px;height:13px;background-position:0 1px}
	.slash{color:#999;vertical-align:top;font-size:11px}
	.current{color:#f54500;font-size:11px;font-weight:bold;vertical-align:top}
}
%font-11px{
	font-size:11px;
	letter-spacing:-1px;
}

//버튼
%btn-point1{border:1px solid #58bcb1;background-color:$point-color1;color:#fff;font-size:16px;text-align:center;height:43px;line-height:43px}
%btn-point2{border:1px solid #db3e00;background-color:$color-price;color:#fff;font-size:16px;text-align:center;height:45px;line-height:43px;width:128px}
%btn-gray{border:1px solid #aeaeae;background-color:#b4b4b4;color:#fff;font-size:16px;text-align:center;height:45px;line-height:43px;width:128px}

//input
%ipt-text{border:1px solid #e4e4e4;-webkit-appearance:none;border-radius:0;vertical-align:top;}
%input-fix{width:13px;height:13px;margin-right:3px;vertical-align:middle}
.ipt_rdo{
	position:relative;height:20px;overflow:hidden;
	input{position:absolute;z-index:-1}
	label{@extend %display-inline-block;height:20px;@extend %sp-rd;height:20px;line-height:20px;padding-left:23px;color:#999;background-position:0 -38px;margin-right:15px}
	input:checked + label{background-position:0 0}
}