@charset "utf-8";

%cs_info_box{
	border-bottom:1px solid #d5d5d5;
	padding-bottom:24px;
	margin-bottom:20px;	
	text-align:center;
}

.cs_center{
	$color-selected:#f54500;
	$color-normal:#e4e4e4;
	padding-top:80px;
	
	.tit_faq_search{
		@include use-sprite(faq_search,$icons-cs);
		border:0;
		padding:0;
		margin:0 0 20px;
	}
	
	
	
	.search_area{
		margin-bottom:50px;
		.faq_category {
			
			li{
				margin-right:0;
			}
			a{
				font-size:14px;
				color:#666;
				
				&:hover{
					color:$color-selected;
					text-decoration:underline;
				}
			}
			
			.bar{
				color:#aeaeae;
				vertical-align:baseline;
				font-size:14px;
				padding:0 4px;
			}
		}
	}
	.search_cover{
		@extend %search_cover;
	}	
	
	
	.faq_category{
		margin-bottom:11px;
		
		li{
			display:inline-block;
			margin-right:25px;
			*display:inline;
			*zoom:1
		}
		a{
			color:#999;
			font-size:16px;
		}
		
		a.selected{
			color:$color-selected;
		}
		
		
	}
	
	.faq_board{
		border-top:3px solid $color-selected;
		li{
			padding:14px 0;
			border-bottom:1px solid $color-normal;
			font-size:14px;
			line-height:22px;
			color:#666;
			position:relative;
		}
		a,.question,.answer{
			font-size:14px;
			line-height:22px;
			color:#666;
			
		}
		.category{
			display:inline-block;
			color:$color-selected;
			width:126px;
			text-align:center;
		}
		.question{
			padding-left:5px;
			cursor:pointer;
			
			.index{
				color:$color-selected;
				font-weight:bold;
			}
		}
		
		a .question{
			padding-left:10px;
		}
		.answer{
			display:none;
			border-top:1px solid $color-normal;
			padding:16px 0 0 131px;
			margin-top:14px;
		}
		
		.open .answer{
			display:block;
		}
		
		.icon_stat{
			@include use-sprite(ico_plus,$icons-cs);
			position:absolute;
			right:18px;
			top:20px;
		}
		
		.open .icon_stat{
			@include use-sprite(ico_minus,$icons-cs);
		}
	}
	
	.cs_center_info{
		background-color:#f2f2f2;
		padding:25px 25px 20px;
		
		.tit_cs_center{
			@include use-sprite(cs_center,$icons-cs);
			border:0;
			padding:0;
			margin:0 0 20px -5px;
		}
		
		.tel_number{
			@extend %cs_info_box;
			
			.img{
				@include use-sprite(help_number,$icons-cs);
			}
		}
		
		.cs_period{
			@extend %cs_info_box;
			.img{
				@include use-sprite(cs_period,$icons-cs);
			}
		}
		
		.cs_menu{
			padding:8px 0 0;
			ul{
				overflow:hidden;
			}
			li{
				float:left;
				width:110px;
				text-align:center;
				margin-bottom:20px;
				
				.guide{
					display:inline-block;
					width:0;
					height:63px;
					vertical-align:middle;
				}
				a{
					vertical-align:middle !important;
				}
			}
			.menu1{
				a{
					@include use-sprite(menu_01,$icons-cs);
				}
			}
			.menu2{
				a{
					@include use-sprite(menu_02,$icons-cs);
				}
			}
			.menu3{
				a{
					@include use-sprite(menu_03,$icons-cs,false,1px,8px);
				}
			}
			.menu4{
				a{
					@include use-sprite(menu_04,$icons-cs,false,1px);
				}
			}
			.menu5{
				a{
					@include use-sprite(menu_05,$icons-cs);
				}
			}
			.menu6{
				a{
					@include use-sprite(menu_06,$icons-cs);
				}
			}
		}
		
		.consult_katalk{
			a{display:inline-block;}
			.img{
				margin-left:-5px;
				@include use-sprite(info_katalk,$icons-cs);
				vertical-align:top;
			}
		}
	}
	
	.tit_faq_top10{
		@include use-sprite(faq_top10,$icons-cs);
		border:0;
		padding:0;
		margin:0 0 13px;
	}
}
