@charset "utf-8";
%btn-gray-h40{@extend %btn-gray;height:40px;vertical-align:top;padding:0 20px;width:auto}
a%btn-gray-h40{height:38px;line-height:39px}
%form_item{
	.tit{display:block;color:#666;font-size:14px}
	.ipt_text,.choose_email{@extend %ipt-text;height:18px;line-height:18px;padding:10px;width:368px;box-sizing:content-box;margin-right:6px}
	.ipt_text:focus{border-color:#f54500}
	.ipt_text[readonly]{border-color:#e4e4e4}
	.btn_valid{@extend %btn-gray-h40}	
	.hyphen{color:#e4e4e4;margin-right:4px}
	
	.choose_email{width:213px;color:#999}
	
	&.ipt_pw,&.ipt_tel{
		overflow:hidden;
		.item_cover{width:400px;float:left;position:relative}
		.item_cover p{white-space:nowrap}
	}
	&.ipt_tel{
		.ipt_text{width:102px!important;margin-right:5px;text-align:center}
	}
	&.ipt_pw{
		.passwordStrenth{
			display:none;
			position:absolute;
			left:100%;bottom:0;
			background-color:#f54500;
			z-index:50;
			padding:0 10px;
			white-space:nowrap;
			width:370px;
			dl{
				display:inline-block;
				dt{display:none}
				dd{display:inline-block;color:#fff;font-weight:bold}
			}
			p{display:inline-block;color:#fff;font-size:12px}
			
		}
	}
	&.ipt_birth{
		.ipt_text{text-align:center}
	}
	
	&.ipt_address{
		
		.item_cover{display:block;margin-bottom:10px}
	}
	
	&.ipt_path{
		label{width:90px}
	}
	
	&.ipt_email{
		.ipt_text{width:368px}
		.hyphen{color:#999}
	}
	.btn_find_zip{@extend %btn-gray-h40}
	.btn_chk_email{@extend %btn-gray-h40;width:138px}
	
	.chk_sms{
		padding:10px 0;font-size:12px;color:#666;line-height:18px;white-space:nowrap;
		input{margin-right:3px}
		p{color:#999;display:inline;margin-left:10px}
	}
	

}

.join{
	@extend %form_container;padding-bottom:50px;
	h2{margin-bottom:21px;}
	
	.submit_cover{
		text-align:center;padding:40px 0;
		border-top:1px solid #e4e4e4;
		clear:both;
		.btn_cancel{@extend %btn-gray-h40;margin-right:10px;display:inline-block;line-height:40px}
		.btn_signup{@extend %btn-point2;height:40px;vertical-align:top;display:inline-block;width:auto;padding:0 20px;line-height:40px}
		a.btn_signup{line-height:39px;height:38px}
		
		&.nb{border-top:0;padding-top:60px}
	}
	
}
.join_box{
	position:relative;zoom:1;
	.progress{position:absolute;right:0;top:0;color:#999;font-size:13px;line-height:20px}
	.progress .current{color:$point-color1;font-weight:normal}
	
	h3{font-size:14px;color:#666;margin-bottom:12px;font-weight:normal}		
}
.policy_cont{
	width:510px;float:left;
	&.terms{margin-right:40px}
	.txt_box{border:1px solid #e4e4e4;padding:20px;height:278px;color:$color-weak;overflow:auto;line-height:18px;font-size:12px}
	.txt_box pre{word-wrap:break-word;word-break:break-word;}
	
	.agree_cover{text-align:right;padding:8px 0}
	.agree_cover input{@extend %input-fix;margin-left:10px}
	.agree_cover label{color:#4c4c4c;font-size:12px;vertical-align:middle}
}
	
.certify_cont{
	.certification_box{border:1px solid #e4e4e4;text-align:center}
	.choose_tab li{float:left;width:50%;line-height:51px;padding-bottom:7px}
	.choose_tab li a{color:#666;text-align:center;display:block;height:51px;background-color:#ededed}
	.choose_tab li.selected{background:url(../im/sp/bu_tab_selected.gif) center bottom no-repeat}
	.choose_tab li.selected a{color:#fff;background-color:$point-color1}
	
	.ipt_area{clear:both;padding:30px 0;@extend %display-inline-block;text-align:left}
	.ipt_area input{@extend %ipt-text;text-align:center;color:$color-price;height:43px;font-size:20px}
	.ipt_tel1{width:98px}
	.ipt_tel2{width:128px}
	.ipt_cover{line-height:43px;font-size:16px;color:#666;margin-bottom:28px}
	.tit{color:$color-price;margin-right:2px}
	.btn_certify{@extend %btn-point2}
	
	.notice li{line-height:20px;margin-bottom:2px;color:$color-weak;font-size:12px}
}

/* 회원정보입력 */
.form_item{
	margin-bottom:21px;line-height:40px;
	@extend %form_item;
	
	.desc{
		color:#999;
		font-size:11px;
	}
}
/* 회원가입 완료 */
.join_complete{
	padding:140px 0 140px 130px;
	.logo_krisha{@extend %sp-cmplt;width:324px;height:114px;background-position:0 36px;display:block;border-right:1px solid $point-color1;float:left}
	.welcome_msg{overflow:hidden;padding:0 0 0 31px;}
	.img_welcome{@extend %sp-cmplt;width:430px;height:68px;background-position:0 -122px;margin:0 0 10px 0;padding:0}
	.welcome_msg p{color:$color-weak;line-height:18px;font-size:14px}
	.welcome_msg strong{color:$color-price;font-weight:normal}
	.submit_cover{padding:135px 0 110px}
}

.ico_arrow{background:url($IMG_DOMAIN + "/ico_arrow.png") no-repeat;width:6px;height:10px;display:inline-block;margin:0 2px}


.ly_pwd{
	position:absolute;
	border:1px solid #e4e4e4;
	background-color:#fff;
	padding:10px;
	line-height:1.5;
	cursor:pointer;
	left:50px;
	z-index:30;
	
	.tit{
		font-size:12px;
		margin-bottom:4px;
		color:#666;
	}
	
	.tip{
		font-size:11px;
		color:#999
	}
}

.ipt_pw_info{
	zoom:1;
	&:after{
		clear:both;
		content:'';
		display:block;
		height:0;
		visibility:hidden;
	}
}

.modify_field{
	padding:5px 0 0 10px;
	font-size:12px;
	color:#999;
}

.form_container{
	.submit_cover{
		text-align:center;padding:40px 0;
		border-top:1px solid #e4e4e4;
		clear:both;
		position:relative;
		.btn_cancel{@extend %btn-gray-h40;margin-right:10px;display:inline-block;line-height:39px}
		.btn_hack{
			margin-right:0;
			position:absolute;
			right:0;
			top:40px;
		}
		.btn_signup{@extend %btn-point2;height:40px;vertical-align:top;display:inline-block;width:auto;padding:0 20px;line-height:39px}
		a.btn_signup{line-height:38px;height:38px}
		
		&.nb{border-top:0;padding-top:60px}
	}
}

/* 회원탈퇴 */
.withdraw{
	.ipt_chk{
		width:260px;
		display:inline-block;
		line-height:20px;
	}
	.textarea_cover{
		border:1px solid #e4e4e4;
		padding:10px;
		textarea{
			border:0;
			padding:0;
			width:100%;
			height:72px;
		}
	}
	
	.coloumn_2{
		.item_cover{
			width:48%;
			float:left;
			margin-right:10px;
		}
		.flex_cover{width:auto;float:none;overflow:hidden}
	}
	
	.withdraw_notice{
		border:1px solid #e4e4e4;
		background-color:#efefef;
		color:#666;
		line-height:1.43;
		padding:14px 17px;
		
		ul{
			height:80px;
		}
		li{
			color:#666;
			position:relative;
			padding-left:13px;
			zoom:1;
			
			.bu{
				width:3px;
				height:3px;
				position:absolute;
				background-color:#f54500;
				left:2px;
				top:8px;
			}
		}
	}
}