@charset "utf-8";
%btn-gray-h40{@extend %btn-gray;height:40px;vertical-align:top;width:108px}
%sp-rd{background:url(../im/sp/sp_component.png) no-repeat}
%sp-cmplt{background:url(../im/sp/sp_join_complete.png) no-repeat}

.join{@extend %form_container;padding-bottom:50px}
.join_box{
	position:relative;zoom:1;
	.progress{position:absolute;right:0;top:0;color:#999;font-size:13px;line-height:20px}
	.progress .current{color:$point-color1;font-weight:normal}
	
	h3{font-size:14px;color:#666;margin-bottom:12px;font-weight:normal}		
}
.policy_cont{
	width:510px;float:left;
	&.terms{margin-right:40px}
	.txt_box{border:1px solid #e4e4e4;padding:20px;height:278px;color:$color-weak;overflow:auto;line-height:18px;font-size:12px}
	.txt_box pre{word-wrap:break-word;word-break:break-word;}
	
	.agree_cover{text-align:right;padding:8px 0}
	.agree_cover input{@extend %input-fix;margin-left:10px}
	.agree_cover label{color:#4c4c4c;font-size:12px;vertical-align:middle}
}
	
.certify_cont{
	.certification_box{border:1px solid #e4e4e4;text-align:center}
	.choose_tab li{float:left;width:50%;line-height:51px;padding-bottom:7px}
	.choose_tab li a{color:#666;text-align:center;display:block;height:51px;background-color:#ededed}
	.choose_tab li.selected{background:url(../im/sp/bu_tab_selected.gif) center bottom no-repeat}
	.choose_tab li.selected a{color:#fff;background-color:$point-color1}
	
	.ipt_area{clear:both;padding:30px 0;@extend %display-inline-block;text-align:left}
	.ipt_area input{border:1px solid #e4e4e4;-webkit-appearance:none;border-radius:0;text-align:center;color:$color-price;height:43px;vertical-align:top;font-size:20px}
	.ipt_tel1{width:98px}
	.ipt_tel2{width:128px}
	.ipt_cover{line-height:43px;font-size:16px;color:#666;margin-bottom:28px}
	.tit{color:$color-price;margin-right:2px}
	.btn_certify{@extend %btn-point2}
	
	.notice li{line-height:20px;margin-bottom:2px;color:$color-weak;font-size:12px}
}

/* 회원정보입력 */
.form_item{
	margin-bottom:21px;line-height:40px;
	.tit{display:block;color:#666;font-size:14px}
	.ipt_text,.choose_email{border:1px solid #e4e4e4;-webkit-appearance:none;border-radius:0;height:18px;line-height:18px;padding:10px;width:368px;box-sizing:content-box;vertical-align:top;margin-right:6px}
	.btn_valid{@extend %btn-gray-h40}	
	.hyphen{color:#e4e4e4;margin-right:4px}
	.ipt_rdo{
		position:relative;height:20px;overflow:hidden;
		input{position:absolute;z-index:-1}
		label{@extend %display-inline-block;height:20px;@extend %sp-rd;height:20px;line-height:20px;padding-left:23px;color:#999;background-position:0 -38px;margin-right:15px}
		input:checked + label{background-position:0 0}
	}
	.choose_email{width:213px;color:#999}
	
	&.ipt_pw,&.ipt_tel{
		overflow:hidden;
		.item_cover{width:405px;float:left}
	}
	&.ipt_birth{
		.ipt_text{text-align:center}
	}
	
	&.ipt_address{
		.btn_find_zip{@extend %btn-gray-h40}
		.item_cover{display:block;margin-bottom:10px}
	}
	
	&.ipt_path{
		label{width:90px}
	}
	
	&.ipt_email{
		.ipt_text{width:213px}
		.hyphen{color:#999}
	}
	
}
.submit_cover{
	text-align:center;padding:30px 0;
	.btn_cancel{@extend %btn-gray-h40;margin-right:10px}
	.btn_signup{@extend %btn-point2;height:40px;vertical-align:top;width:108px}
}

/* 회원가입 완료 */
.join_complete{
	padding:157px 0 0 130px;
	.logo_krisha{@extend %sp-cmplt;width:324px;height:114px;background-position:0 32px;display:block;border-right:1px solid $point-color1;float:left}
	.welcome_msg{overflow:hidden;padding:0 0 0 31px;}
	.img_welcome{@extend %sp-cmplt;width:430px;height:68px;background-position:0 -122px;margin:0 0 8px 0;padding:0}
	.welcome_msg p{color:$color-weak;line-height:21px;font-size:14px}
	.welcome_msg strong{color:$color-price;font-weight:normal}
	.submit_cover{padding:135px 0 110px}
}









