@charset "utf-8";

%form_container{
	padding:130px 60px 80px;position:relative;
	.location{@extend %location}
	h2{font-size:16px;font-weight:normal;border-bottom:1px solid $point-color1;line-height:20px;padding-bottom:8px;color:$point-color1;margin-bottom:38px}	
	button,label{cursor:pointer}
}



/* 로그인 */
.login{
	@extend %form_container;
}
.login_box{
	width:490px;float:left;margin-right:80px;border-bottom:1px solid #e4e4e4;height:428px;
	.login_cover{
		label{display:block;color:#808080;margin-bottom:12px;font-size:14px}
		.ipt_cover{display:block;border:1px solid #e4e4e4;margin-bottom:33px}
		.ipt_cover input{padding:10px;height:18px;border:0;background:transparent;width:470px;color:$color-price}
	}
	.option_cover{
		margin:-18px 0 37px;line-height:18px;
		input{@extend %input-fix}
		label{color:$color-weak;margin-right:17px}
		
		.desc{
			color:#999;
			font-size:12px;
			strong{
				color:#f54500;
			}
		}
	}
	
	.submit_cover{
		.btn_login{@extend %btn-point1;width:118px;margin-bottom:20px}
		.forgot{color:#757575;font-size:12px}
		.forgot a{color:#757575;text-decoration:underline;font-size:12px}
	}
}
.membership_reward{
	overflow:hidden;border-bottom:1px solid #e4e4e4;height:428px;
	h2{color:$color-price;border-color:$color-price;margin-bottom:31px}
	p{font-size:14px;line-height:26px;color:#666}
	p strong{color:$color-price;font-weight:normal}
	
	.join_us_cover{padding:22px 0 46px}
	.btn_join{@extend %btn-point2;display:inline-block}		
}

.sub_tit{font-size:16px;color:#454545;font-weight:normal;line-height:20px;margin-bottom:12px}
.order_guest{
	
	
	.ipt_wrap{width:168px;border:1px solid #e4e4e4;height:38px;@extend %display-inline-block;float:left;margin-right:10px}
	.ipt_wrap input{width:158px;height:100%;padding-left:10px;border:0;color:#666}
	.submit_area{display:block;overflow:hidden}
	.btn_order{@extend %btn-gray;width:100%;height:40px;line-height:40px}
	
	.desc{font-size:12px;color:#757575;line-height:18px;padding:18px 0 0}	
	.btn_guest_order{@extend %btn-gray;line-height:45px}
}

// 비밀번호 재확인
.confirm_pw{
	.login_box{
		width:auto;
		float:none;
		margin-right:0;
		h2{
			color:#f54500;
			border-color:#f54500;
			margin-bottom:0;
		}
	}
	
	.hero{
		padding:92px 99px 0 60px;
		float:left;
	}
	
	.login_cover{
		overflow:hidden;
		padding-top:76px;
	}
	
	.submit_cover{
		.btn_login{
			@extend %btn-point2;
			margin:0;
			margin-right:5px;
			vertical-align:top;
		}
		.btn_gray{
			@extend %btn-gray;
			vertical-align:top;
		}
	}
	
	.find_id_tit{
		color:#f54500;
		font-size:20px;
		margin-bottom:3px;
	}
	
	.find_id_msg{
		font-size:16px;
		color:#666;
		line-height:20px;
	}
	
	.find_cover{
		padding-top:70px;
		
		.submit_cover{
			padding-top:20px;
		}
	}
	
	.find_success{
		font-size:16px;
		strong{
			color:#f54500
		}
		
	}
	
	.find_pw_cover{
		padding-top:43px;
		.ipt_cover{
			margin-bottom:20px;
		}
		
		.desc{
			font-size:12px;
			color:#666;
			margin:-10px 0 20px;
		}
	}
}




