@charset "utf-8";

.mypage{
	$color-selected:#f54500;
	$color-normal:#e4e4e4;
	padding-top:80px;
		
	.tit_mykrisha{
		@include use-sprite(my_krisha);
		
		margin-bottom:20px;
	}
	
	.mypage_head{
		
		
		ul{
			@extend %clear;
			border-bottom:1px solid $color-selected;
			
		}
		li{
			float:left;
			width:140px;
			height:38px;
			line-height:38px;
			border:1px solid $color-normal;
			border-bottom:0;
			margin-right:-1px;
			
			a{
				display:block;
				text-align:center;
				color:#666;
				font-size:14px;
			}
		}
		li.selected{
			position:relative;
			border:1px solid $color-selected;
			border-bottom:0;
			padding-bottom:1px;
			background-color:#fff;
			margin-bottom:-1px;
			a {
				color:$color-selected;
			}
		}
	}
	.mypage_body{
		
	}
	
	.mypage_table{
		width:100%;
		border-collapse:collapse;
		padding:0;
		table-layout:fixed;
		
		caption{}
		td{
			border-bottom:1px solid $color-normal;
			text-align:center;
			padding:16px 0;
			color:#666;
			
			&.title{
				text-align:center;
				a{
					color:$color-selected;
					font-size:16px;
					font-weight:bold;
				}
			}
			
			strong{
				color:$color-selected;
				font-weight:normal;
			}
		}
		
		.order_no{
			display:block;
			color:$color-selected;
			font-weight:normal;
		}
		.date{
			display:block;
			color:#666;
			font-size:11px;
			
		}
		.view_order{
			color:#666;
			text-decoration:underline;
			font-size:12px;
		}
		.info{
			.desc{
				margin-bottom:3px;
				font-size:12px;
			}			
			.period{
				font-size:11px;
				color:#999;
				br{display:none}
			}
		}
		
	}
	.navigation{
		a{
			color:#757575;
		}
		b{
			color:$color-selected;
			padding:0 6px;
		}
	}
	
	.emoney .mypage_table{
		.point_summary{
			font-size:19px;
			text-align:center;
			color:#555;
			padding:28px 0 29px;
		}
		.user_name{
			font-weight:normal;
		}
		.price{
			@extend %arial-black;
			
			color:#ff5400;
			font-size:20px;
		}
		td{
			text-align:left;
		}
		
		.cell_date{
			text-align:center;
		}
		
		.cell_log{
			text-align:right;
			padding-right:30px;
		}
		
	}
	
	a.btn_write{
		@extend %btn-point2;
		font-size:14px;
		height:28px;
		line-height:28px;
		width: 98px;
	}
	
	.btn_fn{
		background-color:#999;
		display:inline-block;
		color:#fff;
		padding:3px 7px 2px;
		border-radius:3.1px;
		font-size:11px;
		line-height:12px;
	}
	
	.reply_cnt{
		color:#5cc4b9;
		position:relative;
		font-size:9px;
		top:-4px;
		font-weight:normal;
		font-family:verdana,sans-serif;
	}
	
	.blank_msg{
		height:220px;
		line-height:200px;
		text-align:center;
		font-size:14px;
		font-weight:bold;
		color:#999;
		border-bottom:1px solid #e4e4e4;
	}
	td .blank_msg{
		border-bottom:0
	}
}
