@charset "utf-8";

.view_today{
	$point-color:#f54500;
	
	position:relative;
	zoom:1;
	
	h3{
		border-bottom:3px solid $point-color;	
		margin-bottom:30px;
		padding-bottom:10px;
		font-size:18px;
	}
	.prod_list{
		li{
			width:168px;
			margin-right:26px;
		}
		
		.prod_thumb{
			height:auto;
			img{height:auto;}
		}
	}
	
	.view_more{
		position:absolute;
		right:10px;
		top:10px;
		color:$point-color;
		font-size:12px;
	}
}