@charset "utf-8";
/* 메인 - header */
.header{
	position:relative;background-color:#fff;min-width:1180px;
	.gnb_area{height:40px;line-height:40px;background-color:#5cc4b9;@extend %display-inline-block;width:100%}
	.cover{@extend %cover;}
	/* .logo a{@extend %sp-img;width:125px;height:18px;background-position:-30px 0;position:relative;top:11px} */
	.logo {display:inline-block;vertical-align:top;height:40px;overflow:hidden;line-height:normal;font-size:0;white-space:nowrap}
	.logo .v_basis{width:0;height:100%;vertical-align:middle;display:inline-block}
	.logo a{vertical-align:middle;display:inline-block}
	.logo a img{}
/* 	#top_logo img{vertical-align:top} */
	.gnb{position:absolute;right:238px;top:0;font-size:0;}
	.gnb li{@extend %display-inline-block;}
	.gnb li a{color:#fff;font-size:11px;letter-spacing:-1px}
	.gnb li a:hover{text-decoration:underline}
	.gnb li .bar{color:#fff;font-size:11px;padding:0 11px 0 12px}
	
	.search_bar{background-color:#fff;height:26px;width:193px;padding-right:30px;position:absolute;right:0;top:7px}
	.search_bar .search_ipt{width:100%;height:26px;border:0;background-color:transparent;vertical-align:top}
	.search_bar .btn_search{position:absolute;right:0;top:0;border:0;background-color:transparent;@extend %sp-img;width:30px;height:26px;background-position:8px 5px}
	
	.category_cover{@extend .cover;height:90px;line-height:90px}
	.category{padding:0 40px;font-size:0}
	.category li{@extend %display-inline-block;vertical-align:middle}
	.category a{color:#454545;font-size:12px;letter-spacing:-1px;display:inline-block;min-height:13px;margin-right:32px;vertical-align:middle}	
	.category a:hover{color:#f54500}
	.category a img{vertical-align:middle;}
}