@charset "utf-8";

%arial-black{
	font-weight:bold;
	font-size:24px;
	font-family:"Arial Black";
}

.my_level_cont{
	$border-bottom-color:#d5d5d5;
	$padding-value:25px;
	$color-selected:#f54500;
	
	padding:$padding-value;
	background-color:#f2f2f2;
	margin-bottom:15px;
	
	.tit_mylevel{
		@include use-sprite(my_level);
		margin-bottom:20px;
		margin-left:-5px;
	}
	
	.grade{
		border-bottom:1px solid $border-bottom-color;
		padding-bottom:$padding-value;
		margin-bottom:20px;
		
		.group_thumb{
			float:left;
			margin-right:13px;
			height:78px;
			white-space:nowrap;
			font-size:0;
			
			.guide{
				display:inline-block;
				vertical-align:middle;
				width:0;
				height:100%;
			}
			img{vertical-align:middle}
		}
		.info{
			overflow:hidden;
			position:relative;
			color:#454545;
			line-height:18px;
			
			strong{
				display:block;
			}
			
			.user_name{
				
			}
			
			.group_name{
				@extend %arial-black;
				display:block;
				line-height:24px;
				text-transform:uppercase;
			}
			.group_name.krisha{
				color:#6cc;
			}
			.group_name.prime{
				color:#ffc600;
			}
			.group_name.diamond{
				color:#ffc600;
			}
			.group_name.crystal{
				color:#ffc600;
			}
			.group_name.gold{
				color:#ffc600;
			}
			.group_name.silver{
				color:#ffc600;
			}
			.group_name.cubic{
				color:#ffc600;
			}
			
			
			.chk_grade{
				color:#999;
				text-decoration:underline;
				font-size:11px;
				position:absolute;
				right:0;
				bottom:0;
				line-height:1.4;
			}
		}
		
		
	}
	
	.stats{
		$line-spacing:15px;
		
		border-bottom:1px solid $border-bottom-color;
		margin-bottom:$padding-value;
		padding:0 5px $padding-value - $line-spacing - 5;
		color:#666;
		
		dt{
			float:left;
			clear:both;
			margin-bottom:$line-spacing;
		}
		dd{
			overflow:hidden;
			text-align:right;
			margin-bottom:$line-spacing;
		}
		
		.price{
			color:$color-selected;
			font-weight:bold;
			font-size:16px;
			vertical-align:middle;
			display:inline-block;
			height:19px;
			line-height:19px;
		}
	}
	
	.article{
		padding:0 7px 8px;
		li{
			height:32px;
			line-height:32px;
			margin-bottom:12px;
			
			&:last-child{
				margin-bottom:0;
			}
		}
		
		a{
			color:#757575;
		}
		
		.cnt{
			font-weight:bold;
			color:#454545;
		}
		
		.ico_menu1{
			@include use-sprite(ico_menu1,$icons,false,0,5px);
			width:45px;
			height:32px;
		}
		.ico_menu2{
			@include use-sprite(ico_menu2,$icons,false,3px,7px);
			width:45px;
			height:32px;
		}
		.ico_menu3{
			@include use-sprite(ico_menu3,$icons,false,5px,4px);
			width:45px;
			height:32px;
		}
		.ico_menu4{
			@include use-sprite(ico_menu4,$icons,false,2px,2px);
			width:45px;
			height:32px;
		}
		
	}
}

.banner_area{
	margin-bottom:15px;
}