@charset "utf-8";
/* 상품 상세 탑 */
.product_view{
	position:relative;zoom:1;min-width:1180px;
	.cover_img{text-align:center;background-color:#f2f2f2;}
	.cover_img img{max-width:100%;width:auto;height:auto;vertical-align:top}
	
	.product_info{@extend %cover;position:absolute;top:0;left:50%;margin-left:-590px}
	
	.location{@extend %location}
	
	.info_cover{position:absolute;left:660px;top:50px}
	.info_head{
		@extend %nanum;
		.prod_code{color:$color-price;font-size:12px;margin-bottom:4px;display:block;font-weight:bold;font-family:arial}
		.prod_name{color:$color-strong;font-size:23px;letter-spacing:-1px;margin-bottom:10px;font-weight:normal}
		.prod_desc{color:$color-weak;font-size:13px;line-height:18px;margin-bottom:15px}
		.point{color:$color-strong;font-size:12px}
		.price_orgin{margin-bottom:2px;color:#afafaf;text-decoration:line-through;display:block}
		.price{padding:0}
		.price strong,
		.point strong{font-family:arial;font-size:24px;}
		.point strong{font-size:14px;vertical-align:-1px}
		.rating{display:none}
	}
	.price{color:$color-price;display:block;font-size:18px}
	.tit{color:$color-strong;font-size:14px;display:block;margin-bottom:5px;padding-top:15px}
	.option{
		padding:17px 0 0;
		.tit{padding:0}
		select{border:1px solid #d8d8d8;border-radius:0;height:29px}
		.option_cover{display:inline-block;margin-right:5px}
	}
	.task{
		padding:15px 0;
		a{vertical-align:top;@extend %display-inline-block;background-color:#fff;margin-right:2px}
		i{position:static;visibility:visible}
		.btn_buy{background-color:#5cc4b9;padding:17px 23px}
		.btn_buy i{@extend %sp-prod;width:111px;height:22px;background-position:0 -19px;vertical-align:top}
		
		.btn_cart{padding:18px 21px}
		.btn_cart i{@extend %sp-prod;width:16px;height:20px;background-position:-120px 0;vertical-align:top}
		
		.btn_like{padding:18px 20px}
		.btn_like i{@extend %sp-prod;width:18px;height:20px;background-position:-140px 0;vertical-align:top}
	}
	
}

.qty_cover{
	height:24px;
	.qty_cont{position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:middle;padding-right:15px}
	.qty_ipt{text-align:right;height:20px;width:20px;border:1px solid #999;vertical-align:middle}
	.qty_cnt_up,.qty_cnt_down{position:absolute;right:0;top:0;width:11px;height:12px;border:0;background-color:transparent;@extend %sp-prod;background-position:2px -44px;cursor:pointer}
	.qty_cnt_down{bottom:0;top:auto;background-position:2px -54px}
	.qty_ea{vertical-align:middle}
}



.prod_icon{
	position:absolute;top:0;right:100%;white-space:nowrap;margin-right:20px;
	img{vertical-align:top}
}
