@charset "utf-8";
/* 상품 상세 탑 */
.product_view{
	position:relative;zoom:1;min-width:1180px;
	.cover_img{text-align:center;background-color:#f2f2f2;max-height:600px;overflow:hidden}
	.cover_img img{max-width:100%;width:auto;height:auto;vertical-align:top}
	
	.product_info{@extend %cover;position:absolute;top:0;left:50%;margin-left:-590px}
	
	.location{@extend %location}
	
	.info_cover{position:absolute;left:660px;top:40px;max-width:520px}
	.info_head{
		.prod_code{color:$color-price;font-size:12px;margin-bottom:4px;display:block;font-weight:bold;font-family:arial}
		.prod_name{color:$color-strong;font-size:23px;letter-spacing:-1px;margin-bottom:6px;font-weight:normal}
		.prod_desc{color:$color-weak;font-size:13px;line-height:18px;margin-bottom:15px}
		.point{color:$color-strong;font-size:12px}
		.price_orgin{margin-bottom:2px;color:#afafaf;text-decoration:line-through;display:block}
		.price{padding:0}
		.price strong,
		.point strong{font-family:arial;font-size:24px;}
		.point strong{font-size:14px;vertical-align:-1px}
		.rating{display:none}
	}
	.price{color:$color-price;display:block;font-size:18px}
	.tit{color:$color-strong;font-size:12px;display:block;margin-bottom:5px;padding-top:15px}
	.option{
		padding:17px 0 0;
		width:480px;
		.tit{padding:0}
		select{border:1px solid #d8d8d8;border-radius:0;height:29px;font-size:12px;max-width:100%}
		.option_cover{
			display:inline-block;margin-right:5px;width:160px;margin-bottom:6px;
			select{
				width:100%;
				background-color:#fff;
			}
		}
		.option_input_cover{
			width:326px;
			height:28px;
			border:1px solid #d8d8d8;
			background-color:#fff;
			max-width:none;
			display:block;
			input{
				border:0;
				padding:0;
				width:318px;
				height:100%;
				color:#666;
				font-size:12px;
				padding-left:8px
			}
		}
	}
	.task{
		padding:18px 0 0;
		a{vertical-align:top;@extend %display-inline-block;background-color:#fff;margin-right:2px}
		i{position:static;visibility:visible}
		.btn_buy{background-color:#5cc4b9;padding:17px 23px}
		.btn_buy i{@extend %sp-prod;width:111px;height:22px;background-position:0 -19px;vertical-align:top}
		
		.btn_cart{padding:18px 21px}
		.btn_cart i{@extend %sp-prod;width:16px;height:20px;background-position:-120px 0;vertical-align:top}
		
		.btn_like{padding:18px 20px}
		.btn_like i{@extend %sp-prod;width:18px;height:20px;background-position:-140px 0;vertical-align:top}
	}
	
}

.qty_cover{margin-bottom:10px}

.qty_cont{
	display:inline-block;border:1px solid #d8d8d8;position:relative;width:50px;height:26px;padding:0 27px;vertical-align:middle;background-color:#fff;
	.qty_ipt{vertical-align:top;border:0;width:100%;height:100%;text-align:center;color:#666;font-size:12px}
	.qty_cnt_up,
	.qty_cnt_down{position:absolute;right:0;top:0;width:26px;height:26px;border:0;background-color:transparent;@extend %sp-prod;background-position:9px -43px;cursor:pointer;border-left:1px solid #d8d8d8}
	.qty_cnt_down{left:0;right:auto;background-position:-11px -43px;border-left:0;border-right:1px solid #d8d8d8}
}

.goods-multi-option{
	padding:8px 0 0 0;
	.multi_option_tit{padding:10px 0 5px;}
	
	.multi_option_cover{
		position:relative;
		background-color:#fff;
		border:1px solid #d8d8d8;
		margin:0 0 4px;
		padding:6px 9px;
		line-height:20px;
		color:#454545;
		
		.opt_control{
			float:right;
			padding-left:10px;
		}
		.tit{
			display:block;
			overflow:hidden;
			margin-bottom:0;
		}
		.qty_cont{border-width:1px;width:54px;height:18px;padding:0 19px;background-color:#e5e5e5;margin-right:16px}
		.qty_ipt{background-color:#f2f2f2}
		
		.qty_cnt_up,
		.qty_cnt_down{width:18px;height:18px;background-position:5px -47px}
		.qty_cnt_down{background-position:-15px -47px}
		
		.price{
			color:#f54500;
			font-size:14px;
			font-weight:bold;
			display:inline;
			margin-right:7px;
		}
		.btn_remove{
			@extend %sp-prod;
			width:14px;
			height:14px;
			background-position:-37px -49px;
			border:0;background-color:transparent;cursor:pointer;
			vertical-align:middle;}
	}	
	
	.multi_option_total{
		padding:10px 0 0 0;
		.tit{margin:0 0 5px;display:block;vertical-align:middle}
		.price{display:inline-block;vertical-align:middle}
	}


}




.prod_icon{
	position:absolute;top:0;right:100%;white-space:nowrap;margin-right:20px;
	img{vertical-align:top}
}
