@charset "UTF-8";
/* Sungkyu, Choi */
/* common */
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; }

body, input, textarea, select, button { font-family: Helvetica,'Apple SD Gothic Neo','nanumgothic','Dotum','돋움',Sans-serif; font-size: 14px; }

img, fieldset { border: 0; }

menu, ul, ol { list-style: none; }

em, address { font-style: normal; }

a, a:link { text-decoration: none; }

/* For Screen Reader */
legend, .blind, i { position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; }

.ht { position: absolute; }

i, .ht { color: transparent; font-size: 0; }

.u_hc, .u_skip { visibility: hidden; overflow: hidden; position: absolute; left: -999em; width: 0; height: 0; font-size: 0; color: transparent; line-height: 0; }

.btn_next, .btn_prev, .nav_dot button, .tit_notice, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general, .favorite_bar .tit_favorite, .favorite_bar li a, .general_store .tab, .prod_tab, .header .logo a, .header .search_bar .btn_search, .header .category a, .policy .corp_intro, .policy .user_guide, .policy .terms, .policy .private, .policy .help_cs, .contact .logo_yellowphant, .contact .logo_inipay, .product_view .location .ico_home, .product_view .task .btn_buy i, .product_view .task .btn_cart i, .product_view .task .btn_like i, .navigation .btn_prev, .navigation .btn_next, .general_store .tab li, .prod_tab li, .section_head .tab li, .general_store .tab a, .prod_tab a, .section_head .tab a, .header .gnb_area, .header .gnb li, .header .category li, .policy li, .policy a, .contact .link, .bnr_box, .slider li, .general_store .inr_bnr, .prod_list li, .prod_list a, .product_view .task a { display: inline-block; *display: inline; *zoom: 1; }

.btn_next, .btn_prev, .nav_dot button, .tit_notice, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general, .favorite_bar .tit_favorite, .favorite_bar li a, .general_store .tab, .prod_tab, .header .logo a, .header .search_bar .btn_search, .header .category a, .policy .corp_intro, .policy .user_guide, .policy .terms, .policy .private, .policy .help_cs, .contact .logo_yellowphant, .contact .logo_inipay { background-image: url(../im/sp/sp_img.png); background-repeat: no-repeat; background-color: transparent; vertical-align: top; }

.btn_next, .btn_prev, .nav_dot button { background-image: url(../im/sp/sp_ico.png); }

.tit_notice, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general { background-image: url(../im/sp/sp_main_tit.png); }

.favorite_bar .tit_favorite, .favorite_bar li a { background-image: url(../im/sp/sp_fav.png); }

.general_store .tab, .prod_tab { background-image: url(../im/sp/pt_sp_bg.png); background-repeat: repeat-x; }

.container, .footer, .header .cover, .header .category_cover, .product_view .product_info { width: 1180px; margin: 0 auto; position: relative; zoom: 1; }

.product_view .location .ico_home, .product_view .task .btn_buy i, .product_view .task .btn_cart i, .product_view .task .btn_like i, .navigation .btn_prev, .navigation .btn_next { background-image: url(../im/sp/sp_prod_view.png); background-repeat: no-repeat; background-color: transparent; vertical-align: top; }

.product_view .info_head { font-family: nanumgothic,sans-serif; }

.general_store .tab, .prod_tab, .section_head .tab { position: absolute; right: 0; top: 0; white-space: nowrap; padding: 0 3px; }
.general_store .tab li, .prod_tab li, .section_head .tab li { padding-left: 30px; }
.general_store .tab a, .prod_tab a, .section_head .tab a { color: #999; font-size: 12px; letter-spacing: -1px; height: 23px; line-height: 23px; }
.general_store .tab a:hover, .prod_tab a:hover, .section_head .tab a:hover, .general_store .tab .selected a, .prod_tab .selected a, .section_head .tab .selected a { color: #454545; }
.general_store .tab .selected a, .prod_tab .selected a, .section_head .tab .selected a { border-bottom: 2px solid #f54500; }

.general_store .tab, .prod_tab { position: static; overflow: hidden; padding: 0 0 0 1px; background-position: 0 39px; height: 40px; }
.general_store .tab li, .prod_tab li { padding: 0; border: 1px solid #e4e4e4; float: left; margin-left: -1px; border-bottom: 0; }
.general_store .tab li.selected, .prod_tab li.selected { border-color: #bfbfbf; border-bottom: 1px solid #fff; position: relative; z-index: 10; margin-bottom: -1px; }
.general_store .tab li.last, .prod_tab li.last { float: none; overflow: hidden; width: auto; display: block; margin-left: 0; position: relative; left: -1px; }
.general_store .tab li.last a, .prod_tab li.last a { padding-right: 1px; }
.general_store .tab a, .prod_tab a { width: 160px; height: 38px; line-height: 38px; text-align: center; }
.general_store .tab .selected a, .prod_tab .selected a { border: 0; }
.general_store .tab .hot_sale a, .prod_tab .hot_sale a { width: 293px; color: #f54500; }

body { background-color: #f8f8f8; }

.container { background-color: #fff; }

.hero { position: relative; }

.section_list { padding: 30px 40px 0; }

/* 메인 - header */
.header { position: relative; background-color: #fff; min-width: 1180px; }
.header .gnb_area { height: 40px; line-height: 40px; background-color: #5cc4b9; width: 100%; }
.header .logo a { width: 125px; height: 18px; background-position: -30px 0; position: relative; top: 11px; }
.header .gnb { position: absolute; right: 238px; top: 0; font-size: 0; }
.header .gnb li a { color: #fff; font-size: 11px; letter-spacing: -1px; }
.header .gnb li a:hover { text-decoration: underline; }
.header .gnb li .bar { color: #fff; font-size: 11px; padding: 0 11px 0 12px; }
.header .search_bar { background-color: #fff; height: 26px; width: 193px; padding-right: 30px; position: absolute; right: 0; top: 7px; }
.header .search_bar .search_ipt { width: 100%; height: 26px; border: 0; background-color: transparent; vertical-align: top; }
.header .search_bar .btn_search { position: absolute; right: 0; top: 0; border: 0; background-color: transparent; width: 30px; height: 26px; background-position: 8px 5px; }
.header .category_cover { height: 90px; }
.header .category { padding: 38px 40px 0; font-size: 0; }
.header .category li { vertical-align: middle; }
.header .category a { color: #454545; font-size: 12px; letter-spacing: -1px; height: 13px; margin-right: 32px; }
.header .category .new_arrival { background-position: 0 -30px; width: 80px; }
.header .category .new_arrival:hover, .header .category .selected .new_arrival { background-position: 0 -70px; }
.header .category .best_50 { background-position: -112px -30px; width: 46px; }
.header .category .best_50:hover, .header .category .selected .best_50 { background-position: -112px -70px; }
.header .category .earring { background-position: -191px -30px; width: 52px; }
.header .category .earring:hover, .header .category .selected .earring { background-position: -191px -70px; }
.header .category .necklace { background-position: -276px -30px; width: 60px; }
.header .category .necklace:hover, .header .category .selected .necklace { background-position: -276px -70px; }
.header .category .bracelet { background-position: -369px -30px; width: 58px; }
.header .category .bracelet:hover, .header .category .selected .bracelet { background-position: -369px -70px; }
.header .category .ring { background-position: -459px -30px; width: 29px; }
.header .category .ring:hover, .header .category .selected .ring { background-position: -459px -70px; }
.header .category .silver { background-position: -520px -30px; width: 40px; }
.header .category .silver:hover, .header .category .selected .silver { background-position: -520px -70px; }
.header .category .gold { background-position: 0 -50px; width: 32px; }
.header .category .gold:hover, .header .category .selected .gold { background-position: 0 -90px; }
.header .category .set { background-position: -64px -50px; width: 21px; }
.header .category .set:hover, .header .category .selected .set { background-position: -64px -90px; }
.header .category .watch { background-position: -116px -50px; width: 42px; }
.header .category .watch:hover, .header .category .selected .watch { background-position: -116px -90px; }
.header .category .key_ring { background-position: -191px -50px; width: 54px; }
.header .category .key_ring:hover, .header .category .selected .key_ring { background-position: -191px -90px; }
.header .category .nail { background-position: -278px -50px; width: 28px; }
.header .category .nail:hover, .header .category .selected .nail { background-position: -278px -90px; }
.header .category .hair_acc { background-position: -338px -50px; width: 55px; }
.header .category .hair_acc:hover, .header .category .selected .hair_acc { background-position: -338px -90px; }
.header .category .special_item { background-position: -425px -50px; width: 79px; margin-right: 0; }
.header .category .special_item:hover, .header .category .selected .special_item { background-position: -425px -90px; }

/* footer */
.policy { text-align: center; font-size: 0; padding: 17px 0; }
.policy li { padding: 0 13px; }
.policy a { color: #757575; }
.policy .corp_intro { width: 41px; height: 16px; background-position: 0 -118px; }
.policy .user_guide { width: 40px; height: 16px; background-position: -51px -118px; }
.policy .terms { width: 41px; height: 16px; background-position: -101px -118px; }
.policy .private { width: 81px; height: 16px; background-position: -152px -118px; }
.policy .help_cs { width: 41px; height: 16px; background-position: -243px -118px; }

.contact { color: #fff; background-color: #35c2de; font-size: 11px; letter-spacing: -1px; line-height: 18px; padding: 20px 20px 20px 292px; position: relative; zoom: 1; }
.contact .logo_yellowphant { width: 213px; height: 40px; background-position: -350px -110px; position: absolute; left: 40px; top: 27px; }
.contact .logo_inipay { width: 43px; height: 43px; background-position: -294px -111px; position: absolute; right: 20px; top: 25px; }
.contact .link { background-color: #f9e21e; color: #35c2de; padding: 0 3px; margin-left: 4px; line-height: 18px; vertical-align: middle; }
.contact .bar { padding: 0 5px; }

/* 공지사항 영역 */
.notice_box { padding: 40px 38px 40px 40px; font-size: 0; }

.bnr_box { background-color: #f2f2f2; width: 255px; height: 210px; vertical-align: top; margin-right: 20px; }

.bnr_box ul { padding: 11px 17px 0; }

.bnr_box li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.bnr_box a { color: #757575; padding: 0 0 3px; line-height: 18px; font-size: 11px; letter-spacing: -1px; }

.bnr_box .innr_bnr { display: block; padding: 16px; }

.bnr_box .innr_bnr img { vertical-align: top; border: 0; }

.bnr_box.notice { width: 290px; }

.bnr_box.cst_center { width: 240px; margin: 0; position: relative; }

.bnr_box.cst_center .delivery, .bnr_box.cst_center .qna, .bnr_box.cst_center .faq { position: absolute; left: 26px; top: 97px; width: 44px; height: 14px; z-index: 20; background-color: #fff; opacity: 0; filter: alpha(opacity=0); }
.bnr_box.cst_center .qna { left: 102px; }
.bnr_box.cst_center .faq { left: 174px; }

.tit_notice { width: 108px; height: 12px; background-position: 0 -80px; margin: 16px 0 0 16px; }

/* 슬라이더 */
.slider { overflow: hidden; zoom: 1; }

.slider ul { position: relative; white-space: nowrap; font-size: 0; }

.btn_next, .btn_prev { border: 0; width: 46px; height: 46px; position: absolute; left: 40px; top: 50%; margin-top: -23px; z-index: 20; cursor: pointer; }

.btn_next { background-position: -66px 0; right: 40px; left: auto; }

/* 섹션 */
.section_head { height: 24px; margin-bottom: 20px; position: relative; border-bottom: 1px solid #e4e4e4; }
.section_head .tit_recomm { width: 151px; height: 22px; background-position: 4px 3px; }
.section_head .tit_best_item { width: 75px; height: 22px; background-position: 4px -17px; }
.section_head .tit_new_arrival { width: 91px; height: 22px; background-position: 4px -37px; }
.section_head .tit_general { width: 106px; height: 22px; background-position: 4px -57px; margin-bottom: 16px; }

/* general store 탭 */
.general_store .section_head { height: auto; border: 0; }
.general_store .inr_bnr { background-color: #00a99d; color: #fff; height: 20px; line-height: 20px; padding: 0 4px; margin-left: 4px; }

/* 상품 목록 */
.prod_list { position: relative; zoom: 1; }
.prod_list .btn_prev, .prod_list .btn_next { position: absolute; left: 0; top: 146px; width: 19px; height: 39px; margin-top: 0; background-position: 0 -50px; }
.prod_list .btn_next { background-position: -58px -50px; right: 0; left: auto; }
.prod_list .btn_prev:hover { background-position: -29px -50px; }
.prod_list .btn_next:hover { background-position: -87px -50px; }
.prod_list ul { font-size: 0; width: 1120px; }
.prod_list li { width: 208px; margin-right: 15px; margin-bottom: 28px; }
.prod_list a { font-size: 12px; width: 100%; line-height: 16px; }
.prod_list .prod_thumb { border: 1px solid #e5e5e5; background-color: #f8f8f8; display: block; overflow: hidden; margin-bottom: 13px; }
.prod_list .selected .prod_thumb, .prod_list a:hover .prod_thumb { border-color: #f54500; }
.prod_list .prod_thumb img { vertical-align: top; }
.prod_list .prod_name { color: #454545; display: block; margin-bottom: 7px; }
.prod_list .prod_desc { color: #999; display: block; margin-bottom: 13px; }
.prod_list .price { font-weight: bold; color: #454545; }
.prod_list .price em { font-size: 18px; }
.prod_list .price .before { color: #afafaf; text-decoration: line-through; margin-right: 4px; }
.prod_list .price .before em { font-size: 14px; }
.prod_list .price .after { color: #f54500; }

/* recommend 상품 목록 */
.recmd_item .prod_list ul { width: auto; }

.recmd_item .prod_list li { width: 254px; margin-right: 28px; }

/* 슬라이더 네비게이션 */
.nav_dot { text-align: center; font-size: 0; padding-bottom: 10px; }
.nav_dot button { width: 18px; height: 18px; background-position: 2px -98px; border: 0; cursor: pointer; }
.nav_dot button.selected { background-position: -18px -98px; }

/* 배너 */
.banner_cover { padding: 40px 31px 40px 30px; font-size: 0; }

.banner_cover a { padding: 0 9px 0 10px; }

.product_view { position: relative; zoom: 1; min-width: 1180px; }
.product_view .cover_img { text-align: center; }
.product_view .cover_img img { max-width: 100%; max-height: 100%; width: auto; height: auto; vertical-align: top; }
.product_view .product_info { position: absolute; top: 0; left: 50%; margin-left: -590px; }
.product_view .location { position: absolute; left: 40px; top: 13px; line-height: 16px; }
.product_view .location .ico_home { width: 89px; height: 13px; background-position: 0 1px; }
.product_view .location .slash { color: #999; vertical-align: top; font-size: 11px; }
.product_view .location .current { color: #f54500; font-size: 11px; font-weight: bold; vertical-align: top; }
.product_view .info_cover { position: absolute; left: 660px; top: 50px; }
.product_view .info_head .prod_code { color: #f54500; font-size: 12px; margin-bottom: 4px; display: block; }
.product_view .info_head .prod_name { color: #454545; font-size: 23px; letter-spacing: -1px; margin-bottom: 10px; font-weight: normal; }
.product_view .info_head .prod_desc { color: #757575; font-size: 13px; line-height: 18px; }
.product_view .info_head .price { color: #f54500; font-size: 24px; display: block; padding: 20px 0 9px; }
.product_view .info_head .point { color: #454545; font-size: 14px; }
.product_view .option { padding: 13px 0 0; }
.product_view .option .tit { color: #454545; font-size: 14px; display: block; margin-bottom: 5px; padding-top: 15px; }
.product_view .task { padding: 15px 0; }
.product_view .task a { vertical-align: top; background-color: #fff; margin-right: 2px; }
.product_view .task i { position: static; visibility: visible; }
.product_view .task .btn_buy { background-color: #5cc4b9; padding: 17px 23px; }
.product_view .task .btn_buy i { width: 111px; height: 22px; background-position: 0 -19px; vertical-align: top; }
.product_view .task .btn_cart { padding: 18px 21px; }
.product_view .task .btn_cart i { width: 16px; height: 20px; background-position: -120px 0; vertical-align: top; }
.product_view .task .btn_like { padding: 18px 20px; }
.product_view .task .btn_like i { width: 18px; height: 20px; background-position: -140px 0; vertical-align: top; }

.prod_section { padding: 45px 40px 0; }

.prod_tab { display: block; margin-bottom: 20px; }
.prod_tab li { width: 14.1%; }
.prod_tab li a { width: 100%; }
.prod_tab li.selected a, .prod_tab .cnt { color: #f54500; font-weight: bold; }

.prod_view_detail { width: 980px; margin: 0 auto; padding: 25px 0 0; }

.review_top { margin-bottom: 25px; position: relative; padding: 0 20px; }
.review_top img { vertical-align: top; }
.review_top .btn_upload { position: absolute; right: 20px; top: 37px; }

.photo_board .status, .text_board .status { color: #666; font-size: 11px; margin-bottom: 6px; }
.photo_board .cnt, .text_board .cnt { color: #f54500; }

.board { font-size: 11px; }
.board .count { position: absolute; left: 0; top: 0; width: 100px; text-align: center; }
.board .subject { display: block; }
.board .writer { width: 112px; position: absolute; right: 172px; top: 0; text-align: center; font-weight: bold; }
.board .date { width: 79px; position: absolute; right: 93px; top: 0; text-align: center; }
.board .hits { width: 93px; position: absolute; right: 0; top: 0; text-align: center; }
.board .board_head { color: #999; font-weight: bold; background-color: #f8f8f8; border: 1px solid #e4e4e4; text-align: center; height: 28px; }
.board .board_head li { height: 28px; line-height: 28px; }
.board .board_body li, .board .board_head { position: relative; zoom: 1; padding: 0 284px 0 100px; }
.board .board_body li { padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid #e4e4e4; padding-right: 0; }
.board .board_body .count, .board .board_body .writer, .board .board_body .date, .board .board_body .hits { top: 43px; color: #757575; }
.board .board_body .subject { margin-right: 284px; }
.board .board_body .subject_cover { overflow: hidden; display: block; }
.board .board_body .subject_cover .thumb { float: left; margin-right: 15px; }
.board .board_body .subject_cover .thumb img { vertical-align: top; }
.board .board_body .subject_cover .remain_cover { overflow: hidden; padding: 10px 0 8px; color: #757575; line-height: 16px; }
.board .board_body .subject_cover .remain_cover .subject_tit { margin-bottom: 4px; }
.board .board_body .contents_area_box { margin-top: 12px; background-color: #f8f8f8; padding: 18px 21px; color: #999; }
.board .receipt, .board .complete { border: 1px solid #5cc4b9; border-radius: 3px; color: #5cc4b9; font-size: 11px; padding: 2px 7px; }
.board .complete { border-color: #f54500; color: #f54500; }

/* 네비게이션 */
.navigation { text-align: center; padding: 20px 0 35px; }
.navigation a, .navigation strong { color: #757575; font-size: 12px; line-height: 20px; font-weight: bold; padding: 0 6px; }
.navigation strong { color: #f54500; }
.navigation .btn_prev, .navigation .btn_next { width: 20px; height: 20px; background-position: -140px -20px; position: static; margin: 0 6px 0 0; padding: 0; }
.navigation .btn_next { background-position: -160px -20px; margin: 0 0 0 6px; }

.text_board .board .board_body li { padding-top: 22px; padding-bottom: 22px; }
.text_board .board .board_body .remain_cover { padding: 0; }
.text_board .board .board_body .remain_cover .subject_tit { margin-bottom: 0; }
.text_board .board .board_body .count, .text_board .board .board_body .writer, .text_board .board .board_body .date, .text_board .board .board_body .hits { top: 22px; }
.text_board .board .board_body .contents_area { margin-top: 12px; border-top: 1px solid #efefef; padding: 21px 0 0; color: #999; }
.text_board .writer { right: 79px; }
.text_board .date { right: 0; }

/* 상품정보제공 고시 상세정보 */
.notice_info { padding: 20px; }
.notice_info h3.tit, .notice_info h4.tit { font-size: 14px; color: #454545; margin-bottom: 13px; }
.notice_info h4.tit { font-size: 12px; margin-bottom: 0; line-height: 18px; }
.notice_info .tit_category { color: #f54500; display: block; font-size: 11px; font-weight: bold; margin-bottom: 18px; }
.notice_info .desc { color: #999; font-size: 11px; letter-spacing: -1px; margin-bottom: 10px; line-height: 18px; }
.notice_info .cause { margin-bottom: 38px; }
.notice_info .cause li { line-height: 20px; margin-bottom: 3px; font-size: 11px; letter-spacing: -1px; color: #999; }

.tb_info { width: 100%; table-layout: fixed; padding: 0; border: 1px solid #e8e8e8; border-collapse: collapse; margin: 13px 0 40px; }
.tb_info th, .tb_info td { border: 1px solid #e8e8e8; font-size: 11px; text-align: left; padding: 10px 0 10px 20px; color: #999; letter-spacing: -1px; }
.tb_info th { background-color: #fbfbfb; color: #666; }

.favorite_bar { position: fixed; left: 50%; top: 138px; margin: 0 0 0 598px; }
.favorite_bar .tit_favorite { width: 70px; height: 45px; background-position: -60px -202px; }
.favorite_bar ul { border: 1px solid #ddd; margin-bottom: 3px; background-color: #fff; }
.favorite_bar li { vertical-align: top; }
.favorite_bar li a { width: 68px; height: 51px; }
.favorite_bar .logout { background-position: 9px 8px; }
.favorite_bar .sign_up { background-position: 9px -43px; }
.favorite_bar .shopping_bag { background-position: 9px -94px; }
.favorite_bar .wish_list { background-position: 9px -145px; }
.favorite_bar .my_krisha { background-position: 9px -196px; }
.favorite_bar .delivery { background-position: 9px -247px; }
.favorite_bar .gift { background-position: -55px 10px; height: 71px; }
.favorite_bar .membership { background-position: -55px -61px; height: 71px; }
.favorite_bar .counsel_kakao { background-position: -55px -132px; height: 70px; }

/*# sourceMappingURL=krisha.css.map */
