@charset "US-ASCII";
/* $IMG_DOMAIN:"../im/"; */
/* Sungkyu, Choi */
/* common */
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; }

body, input, textarea, select, button { font-family: Helvetica,'Apple SD Gothic Neo','nanumgothic','Dotum','돋움',Sans-serif; font-size: 14px; }

img, fieldset { border: 0; }

menu, ul, ol { list-style: none; }

em, address { font-style: normal; }

a, a:link { text-decoration: none; }

/* For Screen Reader */
legend, .blind, i { position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; }

.ht { position: absolute; }

i, .ht { color: transparent; font-size: 0; }

.u_hc, .u_skip { visibility: hidden; overflow: hidden; position: absolute; left: -999em; width: 0; height: 0; font-size: 0; color: transparent; line-height: 0; }

.btn_next, .btn_prev, .nav_dot button, .tit_notice, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general, .favorite_bar .tit_favorite, .favorite_bar li a, .general_store .tab, .prod_tab, .header .search_bar .btn_search, .policy .corp_intro, .policy .user_guide, .policy .terms, .policy .private, .policy .help_cs, .contact .logo_yellowphant, .contact .logo_inipay, .product_view .location .ico_home, .login .location .ico_home, .join .location .ico_home, .basket .location .ico_home, .container .location .ico_home, .product_view .task .btn_buy i, .product_view .task .btn_cart i, .product_view .task .btn_like i, .qty_cover .qty_cnt_up, .qty_cover .qty_cnt_down, .navigation .btn_prev, .navigation .btn_next, .general_store .tab li, .prod_tab li, .section_head .tab li, .general_store .tab a, .prod_tab a, .section_head .tab a, .login_box .submit_cover .btn_login, .task_btn .btn_print_bill, .review_top .btn_upload, .review_top .btn_upload_qna, .review_top .btn_view_list, .membership_reward .btn_join, .join .submit_cover .btn_signup, .certify_cont .btn_certify, .task_btn .btn_order, .task_btn .btn_payment, .order_guest .btn_order, .order_guest .btn_guest_order, .form_item .btn_valid, .order_reciept_info .btn_valid, .ipt_address.form_item .btn_find_zip, .ipt_address.order_reciept_info .btn_find_zip, .join .submit_cover .btn_cancel, .order_reciept_info .btn_find_zip, .order_list .btn_modify, .task_btn .btn_shopping, .task_btn .btn_cancel, .use_point button, .ipt_rdo label, .header .gnb_area, .header .gnb li, .header .category li, .policy li, .policy a, .contact .link, .bnr_box, .general_store .inr_bnr, .prod_list li, .prod_list a, .product_view .task a, .order_guest .ipt_wrap, .certify_cont .ipt_area, .goods_list .tab li, .goods_list .tab li a, .goods_list .navigation a, .goods_list .navigation b, .order_list .prod_thumb, .order_list .prod_info { display: inline-block; *display: inline; *zoom: 1; }

.btn_next, .btn_prev, .nav_dot button, .tit_notice, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general, .favorite_bar .tit_favorite, .favorite_bar li a, .general_store .tab, .prod_tab, .header .search_bar .btn_search, .policy .corp_intro, .policy .user_guide, .policy .terms, .policy .private, .policy .help_cs, .contact .logo_yellowphant, .contact .logo_inipay { background-image: url("/shop/data/skin/KRISHA_ING/img/sp/sp_img.png"); background-repeat: no-repeat; background-color: transparent; vertical-align: top; }

.btn_next, .btn_prev, .nav_dot button { background-image: url("/shop/data/skin/KRISHA_ING/img/sp/sp_ico.png"); }

.tit_notice, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general { background-image: url("/shop/data/skin/KRISHA_ING/img/sp/sp_main_tit.png"); }

.favorite_bar .tit_favorite, .favorite_bar li a { background-image: url("/shop/data/skin/KRISHA_ING/img/sp/sp_fav.png"); }

.general_store .tab, .prod_tab { background-image: url("/shop/data/skin/KRISHA_ING/img/sp/pt_sp_bg.png"); background-repeat: repeat-x; }

.container, .footer, .header .cover, .header .category_cover, .product_view .product_info { width: 1180px; margin: 0 auto; position: relative; zoom: 1; }

.product_view .location .ico_home, .login .location .ico_home, .join .location .ico_home, .basket .location .ico_home, .container .location .ico_home, .product_view .task .btn_buy i, .product_view .task .btn_cart i, .product_view .task .btn_like i, .qty_cover .qty_cnt_up, .qty_cover .qty_cnt_down, .navigation .btn_prev, .navigation .btn_next { background-image: url("/shop/data/skin/KRISHA_ING/img/sp/sp_prod_view.png"); background-repeat: no-repeat; background-color: transparent; vertical-align: top; }

.ipt_rdo label { background: url("/shop/data/skin/KRISHA_ING/img/sp/sp_component.png") no-repeat; }

.product_view .info_head { font-family: nanumgothic,sans-serif; }

.join_complete .logo_krisha, .join_complete .img_welcome { background: url("/shop/data/skin/KRISHA_ING/img/sp/sp_join_complete.png") no-repeat; }

.general_store .tab, .prod_tab, .section_head .tab { position: absolute; right: 0; top: 0; white-space: nowrap; padding: 0 3px; }
.general_store .tab li, .prod_tab li, .section_head .tab li { padding-left: 30px; }
.general_store .tab a, .prod_tab a, .section_head .tab a { color: #999; font-size: 12px; letter-spacing: -1px; height: 23px; line-height: 23px; }
.general_store .tab a:hover, .prod_tab a:hover, .section_head .tab a:hover, .general_store .tab .selected a, .prod_tab .selected a, .section_head .tab .selected a { color: #454545; }
.general_store .tab .selected a, .prod_tab .selected a, .section_head .tab .selected a { border-bottom: 2px solid #f54500; }

.general_store .tab, .prod_tab { position: static; padding: 0 0 0 1px; background-position: 0 39px; height: 40px; zoom: 1; }
.general_store .tab li, .prod_tab li { padding: 0; border: 1px solid #e4e4e4; float: left; margin-left: -1px; border-bottom: 0; }
.general_store .tab li.selected, .prod_tab li.selected { border-color: #bfbfbf; border-bottom: 1px solid #fff; position: relative; z-index: 10; margin-bottom: -1px; }
.general_store .tab li.last, .prod_tab li.last { float: none; overflow: hidden; width: auto; display: block; margin-left: 0; position: relative; left: -1px; }
.general_store .tab li.last a, .prod_tab li.last a { padding-right: 1px; }
.general_store .tab a, .prod_tab a { width: 160px; height: 38px; line-height: 38px; text-align: center; }
.general_store .tab .selected a, .prod_tab .selected a { border: 0; }
.general_store .tab .hot_sale, .prod_tab .hot_sale { border: 0; height: auto; width: 293px; position: relative; height: 39px; overflow: visible; }
.general_store .tab .hot_sale a, .prod_tab .hot_sale a { position: absolute; left: 0; bottom: 0; width: auto; height: auto; color: #f54500; }
.general_store .tab:after, .prod_tab:after { content: ''; clear: both; display: block; height: 0; visibility: hidden; }

.product_view .location, .login .location, .join .location, .basket .location, .container .location { position: absolute; left: 40px; top: 13px; line-height: 16px; }
.product_view .location .ico_home, .login .location .ico_home, .join .location .ico_home, .basket .location .ico_home, .container .location .ico_home { width: 89px; height: 13px; background-position: 0 1px; }
.product_view .location .slash, .login .location .slash, .join .location .slash, .basket .location .slash, .container .location .slash { color: #999; vertical-align: top; font-size: 11px; }
.product_view .location .current, .login .location .current, .join .location .current, .basket .location .current, .container .location .current, .product_view .location .current a, .login .location .current a, .join .location .current a, .basket .location .current a, .container .location .current a { color: #f54500; font-size: 11px; font-weight: bold; vertical-align: top; }

.login_box .submit_cover .btn_login, .task_btn .btn_print_bill { border: 1px solid #58bcb1; background-color: #5cc4b9; color: #fff; font-size: 16px; text-align: center; height: 43px; line-height: 43px; }

.review_top .btn_upload, .review_top .btn_upload_qna, .review_top .btn_view_list, .membership_reward .btn_join, .join .submit_cover .btn_signup, .certify_cont .btn_certify, .task_btn .btn_order, .task_btn .btn_payment { border: 1px solid #db3e00; background-color: #f54500; color: #fff; font-size: 16px; text-align: center; height: 45px; line-height: 43px; width: 128px; }

.review_top a.btn_upload, .review_top a.btn_upload_qna, .review_top a.btn_view_list, .membership_reward a.btn_join, .join .submit_cover a.btn_signup, .certify_cont a.btn_certify, .task_btn a.btn_order, .task_btn a.btn_payment { line-height: 47px; }

.order_guest .btn_order, .order_guest .btn_guest_order, .form_item .btn_valid, .order_reciept_info .btn_valid, .ipt_address.form_item .btn_find_zip, .ipt_address.order_reciept_info .btn_find_zip, .join .submit_cover .btn_cancel, .order_reciept_info .btn_find_zip, .order_list .btn_modify, .task_btn .btn_shopping, .task_btn .btn_cancel, .use_point button { border: 1px solid #aeaeae; background-color: #b4b4b4; color: #fff; font-size: 16px; text-align: center; height: 45px; line-height: 43px; width: 128px; }

.form_item .ipt_text, .order_reciept_info .ipt_text, .form_item .choose_email, .order_reciept_info .choose_email, .certify_cont .ipt_area input, .order_list .ipt_text, .form_tb .ipt_text, .use_point .ipt_text { border: 1px solid #e4e4e4; -webkit-appearance: none; border-radius: 0; vertical-align: top; }

.login_box .option_cover input, .policy_cont .agree_cover input { width: 13px; height: 13px; margin-right: 3px; vertical-align: middle; }

.ipt_rdo { position: relative; height: 20px; overflow: hidden; }
.ipt_rdo input { position: absolute; z-index: -1; }
.ipt_rdo label { height: 20px; height: 20px; line-height: 20px; padding-left: 23px; color: #999; background-position: 0 -38px; margin-right: 15px; }
.ipt_rdo input:checked + label { background-position: 0 0; }

body { background-color: #f8f8f8; }

.container { background-color: #fff; }

.hero { position: relative; }

.section_list { padding: 30px 40px 0; }

/* 메인 - header */
.header { position: relative; background-color: #fff; min-width: 1180px; /* .logo a{@extend %sp-img;width:125px;height:18px;background-position:-30px 0;position:relative;top:11px} */ /* 	#top_logo img{vertical-align:top} */ }
.header .gnb_area { height: 40px; line-height: 40px; background-color: #5cc4b9; width: 100%; }
.header .logo { display: inline-block; vertical-align: top; height: 40px; overflow: hidden; line-height: normal; font-size: 0; white-space: nowrap; }
.header .logo .v_basis { width: 0; height: 100%; vertical-align: middle; display: inline-block; }
.header .logo a { vertical-align: middle; display: inline-block; }
.header .gnb { position: absolute; right: 238px; top: 0; font-size: 0; }
.header .gnb li a { color: #fff; font-size: 11px; letter-spacing: -1px; }
.header .gnb li a:hover { text-decoration: underline; }
.header .gnb li .bar { color: #fff; font-size: 11px; padding: 0 11px 0 12px; }
.header .search_bar { background-color: #fff; height: 26px; width: 193px; padding-right: 30px; position: absolute; right: 0; top: 7px; }
.header .search_bar .search_ipt { width: 100%; height: 26px; border: 0; background-color: transparent; vertical-align: top; }
.header .search_bar .btn_search { position: absolute; right: 0; top: 0; border: 0; background-color: transparent; width: 30px; height: 26px; background-position: 8px 5px; }
.header .category_cover { height: 90px; line-height: 90px; }
.header .category { padding: 0 40px; font-size: 0; }
.header .category li { vertical-align: middle; }
.header .category a { color: #454545; font-size: 12px; letter-spacing: -1px; display: inline-block; min-height: 13px; margin-right: 32px; vertical-align: middle; }
.header .category a:hover { color: #f54500; }
.header .category a img { vertical-align: middle; }

/* footer */
.policy { text-align: center; font-size: 0; padding: 17px 0; }
.policy li { padding: 0 13px; }
.policy a { color: #757575; }
.policy .corp_intro { width: 41px; height: 16px; background-position: 0 -118px; }
.policy .user_guide { width: 40px; height: 16px; background-position: -51px -118px; }
.policy .terms { width: 41px; height: 16px; background-position: -101px -118px; }
.policy .private { width: 81px; height: 16px; background-position: -152px -118px; }
.policy .help_cs { width: 41px; height: 16px; background-position: -243px -118px; }

.contact { color: #fff; background-color: #35c2de; font-size: 11px; line-height: 18px; padding: 20px 20px 20px 292px; position: relative; zoom: 1; }
.contact .logo_yellowphant { width: 213px; height: 40px; background-position: -350px -110px; position: absolute; left: 40px; top: 27px; }
.contact .logo_inipay { width: 43px; height: 43px; background-position: -294px -111px; position: absolute; right: 20px; top: 25px; }
.contact .link { background-color: #f9e21e; color: #35c2de; padding: 0 3px; margin-left: 4px; line-height: 18px; vertical-align: middle; }
.contact a, .contact .txt { color: #fff; }
.contact a:hover, .contact a.txt:hover { text-decoration: underline; }
.contact .bar { padding: 0 5px; }

/* 공지사항 영역 */
.notice_box { padding: 40px 38px 40px 40px; font-size: 0; }

.bnr_box { background-color: #f2f2f2; width: 255px; height: 210px; vertical-align: top; margin-right: 20px; }

.bnr_box ul { padding: 11px 17px 0; }

.bnr_box li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.bnr_box a { color: #757575; padding: 0 0 3px; line-height: 18px; font-size: 11px; letter-spacing: -1px; }

.bnr_box .innr_bnr { display: block; padding: 16px; }

.bnr_box .innr_bnr img { vertical-align: top; border: 0; }

.bnr_box.notice { width: 290px; }

.bnr_box.cst_center { width: 240px; margin: 0; position: relative; }

.bnr_box.cst_center .delivery, .bnr_box.cst_center .qna, .bnr_box.cst_center .faq { position: absolute; left: 26px; top: 97px; width: 44px; height: 14px; z-index: 20; background-color: #fff; opacity: 0; filter: alpha(opacity=0); }
.bnr_box.cst_center .qna { left: 102px; }
.bnr_box.cst_center .faq { left: 174px; }

.tit_notice { width: 108px; height: 12px; background-position: 0 -80px; margin: 16px 0 0 16px; }

/* 슬라이더 */
.slider { position: relative; width: 1180px; height: 620px; overflow: hidden; zoom: 1; }

.slider .slider_cover { cursor: move; position: absolute; width: 1180px; height: 620px; left: 0; right: 0; overflow: hidden; }

.btn_next, .btn_prev { border: 0; width: 46px; height: 46px; position: absolute; left: 40px; top: 50%; margin-top: -23px; z-index: 20; cursor: pointer; }

.btn_next { background-position: -66px 0; right: 40px; left: auto; }

/* 섹션 */
.section_head { height: 24px; margin-bottom: 20px; position: relative; border-bottom: 1px solid #e4e4e4; }
.section_head .tit_recomm { width: 151px; height: 22px; background-position: 4px 3px; }
.section_head .tit_best_item { width: 75px; height: 22px; background-position: 4px -17px; }
.section_head .tit_new_arrival { width: 91px; height: 22px; background-position: 4px -37px; }
.section_head .tit_general { width: 106px; height: 22px; background-position: 4px -57px; margin-bottom: 16px; }
.section_head .tab .hot_sale { display: none; }

/* general store 탭 */
.general_store .section_head { height: auto; border: 0; }
.general_store .tab { display: block; }
.general_store .tab .selected a { color: #f54500; }
.general_store .inr_bnr { background-color: #00a99d; color: #fff; height: 20px; line-height: 20px; padding: 0 4px; margin-left: 4px; }
.general_store .tab .hot_sale { display: inline-block; }

/* 상품 목록 */
.prod_list { position: relative; zoom: 1; }
.prod_list .btn_prev, .prod_list .btn_next { position: absolute; left: 0; top: 146px; width: 19px; height: 39px; margin-top: 0; background-position: 0 -50px; }
.prod_list .btn_next { background-position: -58px -50px; right: 0; left: auto; }
.prod_list .btn_prev:hover { background-position: -29px -50px; }
.prod_list .btn_next:hover { background-position: -87px -50px; }
.prod_list ul { font-size: 0; width: 1120px; }
.prod_list li { width: 208px; margin-right: 15px; margin-bottom: 28px; vertical-align: top; }
.prod_list a { font-size: 12px; width: 100%; line-height: 16px; }
.prod_list .prod_thumb { background-color: #fff; display: block; overflow: hidden; margin-bottom: 13px; height: 270px; white-space: nowrap; position: relative; }
.prod_list .prod_thumb:before { content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border: 1px solid #e5e5e5; }
.prod_list .prod_thumb:after { content: ''; height: 100%; vertical-align: middle; display: inline-block; width: 0; }
.prod_list .selected .prod_thumb:before, .prod_list a:hover .prod_thumb:before { border-color: #f54500; }
.prod_list .prod_thumb img { vertical-align: middle; max-width: 100%; }
.prod_list .prod_name { color: #454545; display: block; margin-bottom: 7px; }
.prod_list .prod_name img { vertical-align: -2px; }
.prod_list .prod_desc { color: #999; display: block; margin-bottom: 13px; }
.prod_list .price { font-weight: bold; color: #454545; }
.prod_list .price em { font-size: 18px; }
.prod_list .price .before { color: #afafaf; text-decoration: line-through; margin-right: 4px; }
.prod_list .price .before em { font-size: 14px; }
.prod_list .price .after { color: #f54500; }

/* recommend 상품 목록 */
/* .recmd_item .prod_list ul{width:auto} */
.recmd_item .prod_list ul { width: 1133px; }

.recmd_item .prod_list li { width: 254px; margin-right: 28px; }

.recmd_item .prod_list .prod_thumb { height: 330px; }

/* 슬라이더 네비게이션 */
.nav_dot { text-align: center; font-size: 0; padding-bottom: 10px; }
.nav_dot button { width: 18px; height: 18px; background-position: 2px -98px; border: 0; cursor: pointer; }
.nav_dot button.selected { background-position: -18px -98px; }

/* 배너 */
.banner_cover { padding: 40px 31px 40px 30px; font-size: 0; }

.banner_cover a { padding: 0 9px 0 10px; }

/* 임시 */
#left_cs { position: fixed; right: 50%; margin-right: 600px; top: 140px; z-index: 100; }

/* 상품 상세 탑 */
.product_view { position: relative; zoom: 1; min-width: 1180px; }
.product_view .cover_img { text-align: center; background-color: #f2f2f2; }
.product_view .cover_img img { max-width: 100%; width: auto; height: auto; vertical-align: top; }
.product_view .product_info { position: absolute; top: 0; left: 50%; margin-left: -590px; }
.product_view .info_cover { position: absolute; left: 660px; top: 50px; }
.product_view .info_head .prod_code { color: #f54500; font-size: 12px; margin-bottom: 4px; display: block; }
.product_view .info_head .prod_name { color: #454545; font-size: 23px; letter-spacing: -1px; margin-bottom: 10px; font-weight: normal; }
.product_view .info_head .prod_desc { color: #757575; font-size: 13px; line-height: 18px; }
.product_view .info_head .point { color: #454545; font-size: 14px; }
.product_view .info_head .price { padding: 20px 0 9px; }
.product_view .price { color: #f54500; font-size: 24px; display: block; }
.product_view .tit { color: #454545; font-size: 14px; display: block; margin-bottom: 5px; padding-top: 15px; }
.product_view .option { padding: 13px 0 0; }
.product_view .task { padding: 15px 0; }
.product_view .task a { vertical-align: top; background-color: #fff; margin-right: 2px; }
.product_view .task i { position: static; visibility: visible; }
.product_view .task .btn_buy { background-color: #5cc4b9; padding: 17px 23px; }
.product_view .task .btn_buy i { width: 111px; height: 22px; background-position: 0 -19px; vertical-align: top; }
.product_view .task .btn_cart { padding: 18px 21px; }
.product_view .task .btn_cart i { width: 16px; height: 20px; background-position: -120px 0; vertical-align: top; }
.product_view .task .btn_like { padding: 18px 20px; }
.product_view .task .btn_like i { width: 18px; height: 20px; background-position: -140px 0; vertical-align: top; }

.qty_cover { height: 24px; }
.qty_cover .qty_cont { position: relative; display: inline-block; *display: inline; zoom: 1; vertical-align: middle; padding-right: 15px; }
.qty_cover .qty_ipt { text-align: right; height: 20px; width: 20px; border: 1px solid #999; vertical-align: middle; }
.qty_cover .qty_cnt_up, .qty_cover .qty_cnt_down { position: absolute; right: 0; top: 0; width: 11px; height: 12px; border: 0; background-color: transparent; background-position: 2px -44px; cursor: pointer; }
.qty_cover .qty_cnt_down { bottom: 0; top: auto; background-position: 2px -54px; }
.qty_cover .qty_ea { vertical-align: middle; }

.prod_section { padding: 45px 40px 0; }

.prod_tab { display: block; margin-bottom: 20px; }
.prod_tab li { width: 14.1%; }
.prod_tab li a { width: 100%; }
.prod_tab li.selected a, .prod_tab .cnt { color: #f54500; font-weight: bold; }

.prod_view_detail { width: 980px; margin: 0 auto; padding: 25px 0 0; }

.review_top { margin-bottom: 30px; position: relative; padding: 0 20px; }
.review_top img { vertical-align: top; }
.review_top .btn_cover { position: absolute; right: 20px; bottom: 0; }
.review_top .btn_upload, .review_top .btn_upload_qna, .review_top .btn_view_list { border-color: #6dc3ad; background-color: #7ad2bc; width: auto; padding: 0 20px; }
.review_top .btn_upload_qna { border-color: #ef9871; background-color: #fda67f; }
.review_top .btn_view_list { border-color: #999; background-color: #999; margin-right: 6px; }

.photo_board .status, .text_board .status { color: #666; font-size: 11px; margin-bottom: 6px; }
.photo_board .cnt, .text_board .cnt { color: #f54500; }

.board { font-size: 11px; }
.board .count { position: absolute; left: 0; top: 0; width: 100px; text-align: center; }
.board .subject { display: block; }
.board .writer { width: 112px; position: absolute; right: 172px; top: 0; text-align: center; font-weight: bold; }
.board .date { width: 79px; position: absolute; right: 93px; top: 0; text-align: center; }
.board .hits { width: 93px; position: absolute; right: 0; top: 0; text-align: center; }
.board .board_head { color: #999; font-weight: bold; background-color: #f8f8f8; border: 1px solid #e4e4e4; text-align: center; height: 28px; }
.board .board_head li { height: 28px; line-height: 28px; }
.board .board_body li, .board .board_head { position: relative; zoom: 1; padding: 0 284px 0 100px; }
.board .board_body li { padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid #e4e4e4; padding-right: 0; }
.board .board_body .count, .board .board_body .writer, .board .board_body .date, .board .board_body .hits { top: 43px; color: #757575; }
.board .board_body .subject { margin-right: 284px; }
.board .board_body .subject_cover { display: block; }
.board .board_body .subject_cover .thumb { float: left; margin-right: 15px; }
.board .board_body .subject_cover .thumb img { vertical-align: top; }
.board .board_body .subject_cover .remain_cover { padding: 10px 0 8px; color: #757575; line-height: 16px; }
.board .board_body .subject_cover .remain_cover .subject_tit { margin-bottom: 4px; }
.board .board_body .contents_area_box { margin-top: 12px; background-color: #f8f8f8; padding: 18px 21px; color: #999; }
.board .receipt, .board .complete, .board .label_reply { border: 1px solid #5cc4b9; border-radius: 3px; color: #5cc4b9; font-size: 11px; padding: 3px 7px 2px; }
.board .complete { border-color: #f54500; color: #f54500; }
.board .label_reply { border-color: #999; color: #999; }

/* 네비게이션 */
.navigation { text-align: center; padding: 20px 0 35px; font-size: 12px; }
.navigation a, .navigation strong { color: #757575; font-size: 12px; line-height: 20px; font-weight: bold; padding: 0 6px; }
.navigation strong { color: #f54500; }
.navigation .btn_prev, .navigation .btn_next { width: 20px; height: 20px; background-position: -140px -20px; position: static; margin: 0 6px 0 0; padding: 0; }
.navigation .btn_next { background-position: -160px -20px; margin: 0 0 0 6px; }

.text_board { padding: 0 20px; }
.text_board .board .board_body li { padding-top: 17px; padding-bottom: 17px; }
.text_board .board .board_body .remain_cover { padding: 0; }
.text_board .board .board_body .remain_cover .subject_tit { margin-bottom: 0; }
.text_board .board .board_body .remain_cover .reply_cnt { color: #5cc4b9; position: relative; font-size: 9px; top: -4px; font-weight: normal; font-family: verdana; }
.text_board .board .board_body .count, .text_board .board .board_body .writer, .text_board .board .board_body .date, .text_board .board .board_body .hits { top: 18px; }
.text_board .board .board_body .contents_area { margin-top: 12px; border-top: 1px solid #efefef; padding: 21px 0 0; color: #999; }
.text_board .writer { right: 133px; }
.text_board .date { right: 30px; }
.text_board .task_article { text-align: right; padding: 10px 20px 0 0; }
.text_board .btn_answer, .text_board .btn_modify, .text_board .btn_delete { background-color: #999; display: inline-block; color: #fff; padding: 3px 7px 2px; border-radius: 3.1px; margin-left: 4px; }

/* 상품정보제공 고시 상세정보 */
.notice_info { padding: 20px; }
.notice_info h3.tit, .notice_info h4.tit { font-size: 14px; color: #454545; margin-bottom: 13px; }
.notice_info h4.tit { font-size: 12px; margin-bottom: 0; line-height: 18px; }
.notice_info .tit_category { color: #f54500; display: block; font-size: 11px; font-weight: bold; margin-bottom: 18px; }
.notice_info .desc { color: #999; font-size: 11px; letter-spacing: -1px; margin-bottom: 10px; line-height: 18px; }
.notice_info .cause { margin-bottom: 38px; }
.notice_info .cause li { line-height: 20px; margin-bottom: 3px; font-size: 11px; letter-spacing: -1px; color: #999; }

.tb_info { width: 100%; table-layout: fixed; padding: 0; border: 1px solid #e8e8e8; border-collapse: collapse; margin: 13px 0 40px; }
.tb_info th, .tb_info td { border: 1px solid #e8e8e8; font-size: 11px; text-align: left; padding: 10px 0 10px 20px; color: #999; letter-spacing: -1px; }
.tb_info th { background-color: #fbfbfb; color: #666; }

/* 즐겨찾기 사이드바 */
.favorite_bar { position: fixed; left: 50%; top: 138px; margin: 0 0 0 598px; }
.favorite_bar .tit_favorite { width: 70px; height: 45px; background-position: -60px -202px; }
.favorite_bar ul { border: 1px solid #ddd; margin-bottom: 3px; background-color: #fff; }
.favorite_bar li { vertical-align: top; }
.favorite_bar li a { width: 68px; height: 51px; }
.favorite_bar .logout { background-position: 9px 8px; }
.favorite_bar .sign_up { background-position: 9px -43px; }
.favorite_bar .shopping_bag { background-position: 9px -94px; }
.favorite_bar .wish_list { background-position: 9px -145px; }
.favorite_bar .my_krisha { background-position: 9px -196px; }
.favorite_bar .delivery { background-position: 9px -247px; }
.favorite_bar .gift { background-position: -55px 10px; height: 71px; }
.favorite_bar .membership { background-position: -55px -61px; height: 71px; }
.favorite_bar .counsel_kakao { background-position: -55px -132px; height: 70px; }

.login, .join, .basket { padding: 130px 60px 80px; position: relative; }
.login h2, .join h2, .basket h2 { font-size: 16px; font-weight: normal; border-bottom: 1px solid #5cc4b9; line-height: 20px; padding-bottom: 8px; color: #5cc4b9; margin-bottom: 38px; }
.login button, .join button, .basket button, .login label, .join label, .basket label { cursor: pointer; }

/* 로그인 */
.login_box { width: 490px; float: left; margin-right: 80px; border-bottom: 1px solid #e4e4e4; height: 428px; }
.login_box .login_cover label { display: block; color: #808080; margin-bottom: 12px; font-size: 14px; }
.login_box .login_cover .ipt_cover { display: block; border: 1px solid #e4e4e4; margin-bottom: 33px; }
.login_box .login_cover .ipt_cover input { padding: 10px; height: 18px; border: 0; background: transparent; width: 470px; color: #f54500; }
.login_box .option_cover { margin: -18px 0 37px; line-height: 18px; }
.login_box .option_cover label { color: #757575; margin-right: 17px; }
.login_box .submit_cover .btn_login { width: 118px; margin-bottom: 20px; }
.login_box .submit_cover .forgot { color: #757575; font-size: 12px; }
.login_box .submit_cover .forgot a { color: #757575; text-decoration: underline; font-size: 12px; }

.membership_reward { overflow: hidden; border-bottom: 1px solid #e4e4e4; height: 428px; }
.membership_reward h2 { color: #f54500; border-color: #f54500; margin-bottom: 31px; }
.membership_reward p { font-size: 14px; line-height: 26px; color: #666; }
.membership_reward p strong { color: #f54500; font-weight: normal; }
.membership_reward .join_us_cover { padding: 22px 0 46px; }
.membership_reward .btn_join { display: inline-block; }

.sub_tit { font-size: 16px; color: #454545; font-weight: normal; line-height: 20px; margin-bottom: 12px; }

.order_guest .ipt_wrap { width: 168px; border: 1px solid #e4e4e4; height: 38px; float: left; margin-right: 10px; }
.order_guest .ipt_wrap input { width: 158px; height: 100%; padding-left: 10px; border: 0; color: #666; }
.order_guest .submit_area { display: block; overflow: hidden; }
.order_guest .btn_order { width: 100%; height: 40px; line-height: 40px; }
.order_guest .desc { font-size: 12px; color: #757575; line-height: 18px; padding: 18px 0 0; }
.order_guest .btn_guest_order { line-height: 45px; }

.form_item .btn_valid, .order_reciept_info .btn_valid, .ipt_address.form_item .btn_find_zip, .ipt_address.order_reciept_info .btn_find_zip, .join .submit_cover .btn_cancel, .order_reciept_info .btn_find_zip { height: 40px; vertical-align: top; width: 108px; }

.form_item .tit, .order_reciept_info .tit { display: block; color: #666; font-size: 14px; }
.form_item .ipt_text, .order_reciept_info .ipt_text, .form_item .choose_email, .order_reciept_info .choose_email { height: 18px; line-height: 18px; padding: 10px; width: 368px; box-sizing: content-box; margin-right: 6px; }
.form_item .hyphen, .order_reciept_info .hyphen { color: #e4e4e4; margin-right: 4px; }
.form_item .choose_email, .order_reciept_info .choose_email { width: 213px; color: #999; }
.ipt_pw.form_item, .ipt_pw.order_reciept_info, .ipt_tel.form_item, .ipt_tel.order_reciept_info { overflow: hidden; }
.ipt_pw.form_item .item_cover, .ipt_pw.order_reciept_info .item_cover, .ipt_tel.form_item .item_cover, .ipt_tel.order_reciept_info .item_cover { width: 405px; float: left; }
.ipt_birth.form_item .ipt_text, .ipt_birth.order_reciept_info .ipt_text { text-align: center; }
.ipt_address.form_item .item_cover, .ipt_address.order_reciept_info .item_cover { display: block; margin-bottom: 10px; }
.ipt_path.form_item label, .ipt_path.order_reciept_info label { width: 90px; }
.ipt_email.form_item .ipt_text, .ipt_email.order_reciept_info .ipt_text { width: 213px; }
.ipt_email.form_item .hyphen, .ipt_email.order_reciept_info .hyphen { color: #999; }

.join { padding-bottom: 50px; }
.join .submit_cover { text-align: center; padding: 30px 0; }
.join .submit_cover .btn_cancel { margin-right: 10px; display: inline-block; }
.join .submit_cover .btn_signup { height: 40px; vertical-align: top; width: 108px; display: inline-block; }

.join_box { position: relative; zoom: 1; }
.join_box .progress { position: absolute; right: 0; top: 0; color: #999; font-size: 13px; line-height: 20px; }
.join_box .progress .current { color: #5cc4b9; font-weight: normal; }
.join_box h3 { font-size: 14px; color: #666; margin-bottom: 12px; font-weight: normal; }

.policy_cont { width: 510px; float: left; }
.policy_cont.terms { margin-right: 40px; }
.policy_cont .txt_box { border: 1px solid #e4e4e4; padding: 20px; height: 278px; color: #757575; overflow: auto; line-height: 18px; font-size: 12px; }
.policy_cont .txt_box pre { word-wrap: break-word; word-break: break-word; }
.policy_cont .agree_cover { text-align: right; padding: 8px 0; }
.policy_cont .agree_cover input { margin-left: 10px; }
.policy_cont .agree_cover label { color: #4c4c4c; font-size: 12px; vertical-align: middle; }

.certify_cont .certification_box { border: 1px solid #e4e4e4; text-align: center; }
.certify_cont .choose_tab li { float: left; width: 50%; line-height: 51px; padding-bottom: 7px; }
.certify_cont .choose_tab li a { color: #666; text-align: center; display: block; height: 51px; background-color: #ededed; }
.certify_cont .choose_tab li.selected { background: url(../im/sp/bu_tab_selected.gif) center bottom no-repeat; }
.certify_cont .choose_tab li.selected a { color: #fff; background-color: #5cc4b9; }
.certify_cont .ipt_area { clear: both; padding: 30px 0; text-align: left; }
.certify_cont .ipt_area input { text-align: center; color: #f54500; height: 43px; font-size: 20px; }
.certify_cont .ipt_tel1 { width: 98px; }
.certify_cont .ipt_tel2 { width: 128px; }
.certify_cont .ipt_cover { line-height: 43px; font-size: 16px; color: #666; margin-bottom: 28px; }
.certify_cont .tit { color: #f54500; margin-right: 2px; }
.certify_cont .notice li { line-height: 20px; margin-bottom: 2px; color: #757575; font-size: 12px; }

/* 회원정보입력 */
.form_item { margin-bottom: 21px; line-height: 40px; }

/* 회원가입 완료 */
.join_complete { padding: 157px 0 100px 130px; }
.join_complete .logo_krisha { width: 324px; height: 114px; background-position: 0 32px; display: block; border-right: 1px solid #5cc4b9; float: left; }
.join_complete .welcome_msg { overflow: hidden; padding: 0 0 0 31px; }
.join_complete .img_welcome { width: 430px; height: 68px; background-position: 0 -122px; margin: 0 0 8px 0; padding: 0; }
.join_complete .welcome_msg p { color: #757575; line-height: 21px; font-size: 14px; }
.join_complete .welcome_msg strong { color: #f54500; font-weight: normal; }
.join_complete .submit_cover { padding: 135px 0 110px; }

.category_detail { padding: 60px 40px 40px; }
.category_detail .hero { margin-bottom: 26px; }
.category_detail .hero img { vertical-align: top; }

.goods_list .tab { border: 1px solid #e4e4e4; font-size: 0; }
.goods_list .tab li { border: 1px solid #e4e4e4; vertical-align: top; margin: -1px 0 -1px -1px; }
.goods_list .tab li a { font-size: 12px; color: #818181; height: 40px; line-height: 40px; width: auto; vertical-align: top; padding: 0 16px; }
.goods_list .tab li.all, .goods_list .tab li:hover { position: relative; border: 1px solid #f54500; z-index: 10; }
.goods_list .tab li:hover a { color: #454545; }
.goods_list .tab li.all { background-color: #f54500; border-color: #db3e00; }
.goods_list .tab li.all a { color: #fff; font-weight: bold; }
.goods_list .sorting_option { height: 34px; line-height: 34px; text-align: right; padding: 0; margin-bottom: 15px; }
.goods_list .sorting_option a { color: #999; font-size: 11px; }
.goods_list .sorting_option a.selected { color: #f54500; font-weight: bold; }
.goods_list .sorting_option .bar { color: #e3e3e3; font-size: 11px; padding: 0 4px 0 4px; }
.goods_list .navigation { font-family: tahoma; font-size: 0; padding-bottom: 0; }
.goods_list .navigation a, .goods_list .navigation b { border: 1px solid #e4e4e4; font-size: 15px; height: 46px; line-height: 46px; font-weight: normal; width: 46px; padding: 0; margin-right: -1px; }
.goods_list .navigation a:hover { background-color: #f8f8f8; }
.goods_list .navigation a.selected, .goods_list .navigation b { color: #f54500; background-color: #f8f8f8; }
.goods_list .navigation a.nav_prev, .goods_list .navigation a.nav_next { padding: 0 18px; width: auto; }

.basket .tit_bar, .order_list th { border-bottom: 2px solid #5cc4b9; color: #666; font-weight: normal; height: 29px; line-height: 29px; font-size: 14px; }

.basket { overflow: hidden; }
.basket .info_column { width: 750px; float: left; margin-right: 40px; }
.basket .aside_column { width: 270px; float: left; }
.basket .aside_column .tit_bar { border-color: #f54500; color: #f54500; }
.basket .tit_bar { font-size: 16px; color: #5cc4b9; margin-bottom: 15px; }

.order_list { width: 100%; border-collapse: collapse; padding: 0; border: 0; margin-bottom: 45px; }
.order_list td { padding: 20px 0; border-bottom: 1px solid #e4e4e4; text-align: center; color: #666; font-size: 14px; }
.order_list .prod_name { padding-left: 10px; text-align: left; vertical-align: middle; }
.order_list .prod_thumb { border: 1px solid #e4e4e4; vertical-align: middle; margin-right: 18px; }
.order_list .prod_thumb img { vertical-align: top; }
.order_list .prod_info { vertical-align: middle; line-height: 18px; }
.order_list .prod_info .name { color: #666; font-size: 14px; margin-bottom: 4px; }
.order_list .prod_info .status { font-size: 12px; color: #f54500; }
.order_list .ipt_text { width: 48px; text-align: center; height: 18px; line-height: 18px; padding: 8px 0; }
.order_list .btn_modify { width: 48px; height: 36px; line-height: 34px; font-size: 14px; }
.order_list .order_price { color: #f54500; }
.order_list .btn_remove { background: none; border: 0; width: 48px; height: 36px; line-height: 34px; font-size: 14px; color: #666; }

.help_msg { border-bottom: 1px solid #e4e4e4; line-height: 24px; padding: 0 0 45px 10px; }
.help_msg h3 { font-size: 16px; color: #666; font-weight: normal; }
.help_msg p { font-size: 12px; color: #999; }
.help_msg strong { color: #f54500; font-weight: normal; }

.total_price { border-bottom: 1px solid #e4e4e4; padding-bottom: 24px; margin-bottom: 25px; }

.price_summary { width: 100%; border-collapse: collapse; padding: 0; border: 0; }
.price_summary th, .price_summary td { text-align: left; padding: 18px 0; font-weight: normal; color: #666; font-size: 15px; }
.price_summary td { text-align: right; }
.price_summary .desc { font-size: 11px; }
.price_summary strong { color: #f54500; }

.task_btn { border-bottom: 1px solid #e4e4e4; padding: 0 0 49px; }
.task_btn .btn_order, .task_btn .btn_payment { width: 100%; margin-bottom: 7px; }
.task_btn .btn_shopping, .task_btn .btn_cancel { width: 100%; }
.task_btn .btn_print_bill { width: 100%; margin-bottom: 7px; }

/* 주문결제 */
.form_tb th, .form_tb td { text-align: left; padding: 10px 0; font-weight: normal; color: #666; font-size: 14px; vertical-align: top; line-height: 38px; }
.form_tb th { padding-left: 8px; }
.form_tb .ipt_text { height: 18px; line-height: 18px; padding: 9px 0; width: 360px; color: #454545; margin-right: 9px; }

.order_person_info, .order_reciept_info, .pay_method { border-bottom: 1px solid #e4e4e4; padding-bottom: 10px; margin-bottom: 45px; }

.order_reciept_info .item_cover { display: block; margin-bottom: 10px; }
.order_reciept_info .hyphen { line-height: 38px; }
.order_reciept_info .btn_find_zip { height: 38px; line-height: 38px; }

.pay_method li { margin-bottom: 30px; }

.use_point { border-bottom: 1px solid #e4e4e4; padding: 16px 0 17px; }
.use_point .tit { color: #f54500; font-size: 12px; line-height: 18px; margin-bottom: 5px; display: block; }
.use_point .tit .desc { color: #999; }
.use_point .ipt_text { padding: 9px; width: 142px; }
.use_point button { height: 36px; line-height: 36px; font-size: 14px; }
.use_point .btn_use_point { width: 100px; }
.use_point .btn_lookup, .use_point .btn_regist { width: 47px; }
.use_point .point_cover { margin-bottom: 27px; }
