@charset "UTF-8";
/* Sungkyu, Choi */
/* common */
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; }

body, input, textarea, select, button { font-family: Helvetica,'Apple SD Gothic Neo',Sans-serif; font-size: 14px; }

img, fieldset { border: 0; }

menu, ul, ol { list-style: none; }

em, address { font-style: normal; }

a, a:link { text-decoration: none; }

/* For Screen Reader */
legend, .blind { position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; }

.ht { position: absolute; }

i, .ht { color: transparent; font-size: 0; }

.u_hc, .u_skip { visibility: hidden; overflow: hidden; position: absolute; left: -999em; width: 0; height: 0; font-size: 0; color: transparent; line-height: 0; }

.btn_next, .btn_prev, .nav_dot button, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general, .general_store .tab, .header .logo a, .header .search_bar .btn_search, .header .category a, .header .gnb_area, .header .gnb li, .header .category li, .slider li, .section_head .tab li, .section_head .tab a, .general_store .inr_bnr, .prod_list li, .prod_list a { display: inline-block; *display: inline; *zoom: 1; }

.btn_next, .btn_prev, .nav_dot button, .section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general, .general_store .tab, .header .logo a, .header .search_bar .btn_search, .header .category a { background-image: url(../im/sp_img.png); background-repeat: no-repeat; background-color: transparent; vertical-align: top; }

.btn_next, .btn_prev, .nav_dot button { background-image: url(../im/sp_ico.png); }

.section_head .tit_recomm, .section_head .tit_best_item, .section_head .tit_new_arrival, .section_head .tit_general { background-image: url(../im/sp_main_tit.png); }

.general_store .tab { background-image: url(../im/pt_sp_bg.png); background-repeat: repeat-x; }

.header .cover, .header .category_cover, .container { width: 1180px; margin: 0 auto; position: relative; zoom: 1; }

body { background-color: #f8f8f8; }

/* 메인 - header */
.header { position: relative; background-color: #fff; }
.header .gnb_area { height: 40px; line-height: 40px; background-color: #5cc4b9; width: 100%; }
.header .logo a { width: 125px; height: 18px; background-position: -30px 0; position: relative; top: 11px; }
.header .gnb { position: absolute; right: 238px; top: 0; font-size: 0; }
.header .gnb li a { color: #fff; font-size: 11px; letter-spacing: -1px; }
.header .gnb li a:hover { text-decoration: underline; }
.header .gnb li .bar { color: #fff; font-size: 11px; padding: 0 11px 0 12px; }
.header .search_bar { background-color: #fff; height: 26px; width: 193px; padding-right: 30px; position: absolute; right: 0; top: 7px; }
.header .search_bar .search_ipt { width: 100%; height: 26px; border: 0; background-color: transparent; vertical-align: top; }
.header .search_bar .btn_search { position: absolute; right: 0; top: 0; border: 0; background-color: transparent; width: 30px; height: 26px; background-position: 8px 5px; }
.header .category_cover { height: 90px; }
.header .category { padding: 38px 40px 0; font-size: 0; }
.header .category li { vertical-align: middle; }
.header .category a { color: #454545; font-size: 12px; letter-spacing: -1px; height: 13px; margin-right: 32px; }
.header .category .new_arrival { background-position: 0 -30px; width: 80px; }
.header .category .new_arrival:hover, .header .category .selected .new_arrival { background-position: 0 -70px; }
.header .category .best_50 { background-position: -112px -30px; width: 46px; }
.header .category .best_50:hover, .header .category .selected .best_50 { background-position: -112px -70px; }
.header .category .earring { background-position: -191px -30px; width: 52px; }
.header .category .earring:hover, .header .category .selected .earring { background-position: -191px -70px; }
.header .category .necklace { background-position: -276px -30px; width: 60px; }
.header .category .necklace:hover, .header .category .selected .necklace { background-position: -276px -70px; }
.header .category .bracelet { background-position: -369px -30px; width: 58px; }
.header .category .bracelet:hover, .header .category .selected .bracelet { background-position: -369px -70px; }
.header .category .ring { background-position: -459px -30px; width: 29px; }
.header .category .ring:hover, .header .category .selected .ring { background-position: -459px -70px; }
.header .category .silver { background-position: -520px -30px; width: 40px; }
.header .category .silver:hover, .header .category .selected .silver { background-position: -520px -70px; }
.header .category .gold { background-position: 0 -50px; width: 32px; }
.header .category .gold:hover, .header .category .selected .gold { background-position: 0 -90px; }
.header .category .set { background-position: -64px -50px; width: 21px; }
.header .category .set:hover, .header .category .selected .set { background-position: -64px -90px; }
.header .category .watch { background-position: -116px -50px; width: 42px; }
.header .category .watch:hover, .header .category .selected .watch { background-position: -116px -90px; }
.header .category .key_ring { background-position: -191px -50px; width: 54px; }
.header .category .key_ring:hover, .header .category .selected .key_ring { background-position: -191px -90px; }
.header .category .nail { background-position: -278px -50px; width: 28px; }
.header .category .nail:hover, .header .category .selected .nail { background-position: -278px -90px; }
.header .category .hair_acc { background-position: -338px -50px; width: 55px; }
.header .category .hair_acc:hover, .header .category .selected .hair_acc { background-position: -338px -90px; }
.header .category .special_item { background-position: -425px -50px; width: 79px; margin-right: 0; }
.header .category .special_item:hover, .header .category .selected .special_item { background-position: -425px -90px; }

.container { background-color: #fff; }

.hero { position: relative; }

/* 슬라이더 */
.slider { overflow: hidden; }

.slider ul { position: relative; white-space: nowrap; font-size: 0; }

.btn_next, .btn_prev { border: 0; width: 46px; height: 46px; position: absolute; left: 40px; top: 50%; margin-top: -23px; z-index: 20; cursor: pointer; }

.btn_next { background-position: -66px 0; right: 40px; left: auto; }

/* 섹션 */
.section_list { padding: 30px 40px 0; }

.section_head { height: 24px; margin-bottom: 20px; position: relative; border-bottom: 1px solid #e4e4e4; }
.section_head .tit_recomm { width: 151px; height: 22px; background-position: 4px 3px; }
.section_head .tit_best_item { width: 75px; height: 22px; background-position: 4px -17px; }
.section_head .tit_new_arrival { width: 91px; height: 22px; background-position: 4px -37px; }
.section_head .tit_general { width: 106px; height: 22px; background-position: 4px -57px; margin-bottom: 16px; }
.section_head .tab { position: absolute; right: 0; top: 0; white-space: nowrap; padding: 0 3px; }
.section_head .tab li { padding-left: 30px; }
.section_head .tab a { color: #999; font-size: 12px; letter-spacing: -1px; height: 23px; line-height: 23px; }
.section_head .tab a:hover, .section_head .tab .selected a { color: #454545; }
.section_head .tab .selected a { border-bottom: 2px solid #f54500; }

/* general store 탭 */
.general_store .section_head { height: auto; border: 0; }
.general_store .tab { position: static; overflow: hidden; padding: 0 0 0 1px; background-position: 0 39px; height: 40px; }
.general_store .tab li { padding: 0; border: 1px solid #e4e4e4; float: left; margin-left: -1px; border-bottom: 0; }
.general_store .tab li.selected { border-color: #bfbfbf; border-bottom: 1px solid #fff; position: relative; z-index: 10; margin-bottom: -1px; }
.general_store .tab a { width: 160px; height: 38px; line-height: 38px; text-align: center; }
.general_store .tab .selected a { border: 0; }
.general_store .tab .hot_sale a { width: 293px; color: #f54500; }
.general_store .inr_bnr { background-color: #00a99d; color: #fff; height: 20px; line-height: 20px; padding: 0 4px; margin-left: 4px; }

/* 상품 목록 */
.prod_list { position: relative; zoom: 1; }
.prod_list .btn_prev, .prod_list .btn_next { position: absolute; left: 0; top: 146px; width: 19px; height: 39px; margin-top: 0; background-position: 0 -50px; }
.prod_list .btn_next { background-position: -58px -50px; right: 0; left: auto; }
.prod_list .btn_prev:hover { background-position: -29px -50px; }
.prod_list .btn_next:hover { background-position: -87px -50px; }
.prod_list ul { font-size: 0; width: 1120px; }
.prod_list li { width: 208px; margin-right: 15px; margin-bottom: 28px; }
.prod_list a { font-size: 12px; width: 100%; line-height: 16px; }
.prod_list .prod_thumb { border: 1px solid #e5e5e5; background-color: #f8f8f8; display: block; overflow: hidden; margin-bottom: 13px; }
.prod_list .selected .prod_thumb, .prod_list a:hover .prod_thumb { border-color: #f54500; }
.prod_list .prod_thumb img { vertical-align: top; }
.prod_list .prod_name { color: #454545; display: block; margin-bottom: 7px; }
.prod_list .prod_desc { color: #999; display: block; margin-bottom: 13px; }
.prod_list .price { font-weight: bold; color: #454545; }
.prod_list .price em { font-size: 18px; }
.prod_list .price .before { color: #afafaf; text-decoration: line-through; margin-right: 4px; }
.prod_list .price .before em { font-size: 14px; }
.prod_list .price .after { color: #f54500; }

/* recommend 상품 목록 */
.recmd_item .prod_list ul { width: auto; }

.recmd_item .prod_list li { width: 254px; margin-right: 28px; }

/* 슬라이더 네비게이션 */
.nav_dot { text-align: center; font-size: 0; padding-bottom: 10px; }
.nav_dot button { width: 18px; height: 18px; background-position: 2px -98px; border: 0; cursor: pointer; }
.nav_dot button.selected { background-position: -18px -98px; }

/* 배너 */
.banner_cover { padding: 40px 31px 40px 30px; font-size: 0; }

.banner_cover a { padding: 0 9px 0 10px; }

/*# sourceMappingURL=krisha.css.map */
