%display-inline-block{display:inline-block;*display:inline;*zoom:1}
%sp-img{background-image:url(../im/sp_img.png);background-repeat:no-repeat;background-color:transparent;@extend %display-inline-block;vertical-align:top}
%sp-ico{@extend %sp-img;background-image:url(../im/sp_ico.png)}
%sp-main-tit{@extend %sp-img;background-image:url(../im/sp_main_tit.png)}
%cover{width:1180px;margin:0 auto;position:relative;zoom:1}

/* 메인 - header */
.header{
	position:relative;	
	.gnb_area{height:40px;line-height:40px;background-color:#5cc4b9;@extend %display-inline-block;width:100%}
	.cover{@extend %cover;}
	.logo a{@extend %sp-img;width:125px;height:18px;background-position:-30px 0;position:relative;top:11px}
	.gnb{position:absolute;right:238px;top:0;font-size:0;}
	.gnb li{@extend %display-inline-block;}
	.gnb li a{color:#fff;font-size:11px;letter-spacing:-1px}
	.gnb li a:hover{text-decoration:underline}
	.gnb li .bar{color:#fff;font-size:11px;padding:0 11px 0 12px}
	
	.search_bar{background-color:#fff;height:26px;width:193px;padding-right:30px;position:absolute;right:0;top:7px}
	.search_bar .search_ipt{width:100%;height:26px;border:0;background-color:transparent;vertical-align:top}
	.search_bar .btn_search{position:absolute;right:0;top:0;border:0;background-color:transparent;@extend %sp-img;width:30px;height:26px;background-position:8px 5px}
	
	.category_cover{@extend .cover;height:90px}
	.category{padding:38px 40px 0;font-size:0}
	.category li{@extend %display-inline-block;vertical-align:middle}
	.category a{color:#454545;font-size:12px;letter-spacing:-1px;@extend %sp-img;height:13px;margin-right:32px}	
	.category{
		.new_arrival{background-position:0 -30px;width:80px}
		.new_arrival:hover,.selected .new_arrival{background-position:0 -70px}		
		.best_50{background-position:-112px -30px;width:46px}
		.best_50:hover,.selected .best_50{background-position:-112px -70px}		
		.earring{background-position:-191px -30px;width:52px}
		.earring:hover,.selected .earring{background-position:-191px -70px}		
		.necklace{background-position:-276px -30px;width:60px}
		.necklace:hover,.selected .necklace{background-position:-276px -70px}
		.bracelet{background-position:-369px -30px;width:58px}
		.bracelet:hover,.selected .bracelet{background-position:-369px -70px}
		.ring{background-position:-459px -30px;width:29px}
		.ring:hover,.selected .ring{background-position:-459px -70px}
		.silver{background-position:-520px -30px;width:40px}
		.silver:hover,.selected .silver{background-position:-520px -70px}
		.gold{background-position:0 -50px;width:32px}
		.gold:hover,.selected .gold{background-position:0 -90px}
		.set{background-position:-64px -50px;width:21px}
		.set:hover,.selected .set{background-position:-64px -90px}
		.watch{background-position:-116px -50px;width:42px}
		.watch:hover,.selected .watch{background-position:-116px -90px}
		.key_ring{background-position:-191px -50px;width:54px}
		.key_ring:hover,.selected .key_ring{background-position:-191px -90px}
		.nail{background-position:-278px -50px;width:28px}
		.nail:hover,.selected .nail{background-position:-278px -90px}
		.hair_acc{background-position:-338px -50px;width:55px}
		.hair_acc:hover,.selected .hair_acc{background-position:-338px -90px}
		.special_item{background-position:-425px -50px;width:79px;margin-right:0}
		.special_item:hover,.selected .special_item{background-position:-425px -90px}
	}	
}

.container{@extend %cover;}
.hero{position:relative}
/* 슬라이더 */
.slider{overflow:hidden}
.slider ul{position:relative;white-space:nowrap;font-size:0}
.slider li{@extend %display-inline-block}	
.btn_next,.btn_prev{@extend %sp-ico;border:0;width:46px;height:46px;position:absolute;left:40px;top:50%;margin-top:-23px;z-index:20;cursor:pointer}
.btn_next{background-position:-66px 0;right:40px;left:auto}

/* 섹션 */
.section_list{padding:30px 40px 0}
.section_head{
	height:24px;margin-bottom:20px;position:relative;border-bottom:1px solid #e4e4e4;
	.tit_recomm{@extend %sp-main-tit;width:151px;height:22px;background-position:4px 3px}
	.tit_best_item{@extend %sp-main-tit;width:75px;height:22px;background-position:4px -17px}
	.tit_new_arrival{@extend %sp-main-tit;width:91px;height:22px;background-position:4px -37px}
	.tab{position:absolute;right:0;top:0;white-space:nowrap;padding:0 3px}
	.tab li{@extend %display-inline-block;padding-left:30px}
	.tab a{color:#999;font-size:12px;letter-spacing:-1px;@extend %display-inline-block;height:23px;line-height:23px}
	.tab a:hover,.tab .selected a{color:#454545}
	.tab .selected a{border-bottom:2px solid #f54500}
}

/* 상품 목록 */
.prod_list{
	position:relative;zoom:1;
	.btn_prev,.btn_next{position:absolute;left:0;top:146px;width:19px;height:39px;margin-top:0;background-position:0 -50px}
	.btn_next{background-position:-58px -50px;right:0;left:auto}
	.btn_prev:hover{background-position:-29px -50px}
	.btn_next:hover{background-position:-87px -50px}
	ul{font-size:0;width:1120px}
	li{@extend %display-inline-block;width:208px;margin-right:15px;margin-bottom:28px}	
	a{font-size:12px;@extend %display-inline-block;width:100%;line-height:16px}
	.prod_thumb{border:1px solid #e5e5e5;background-color:#f8f8f8;display:block;overflow:hidden;margin-bottom:13px}
	.selected .prod_thumb,
	a:hover .prod_thumb{border-color:#f54500}
	.prod_thumb img{vertical-align:top}
	.prod_name{color:#454545;display:block;margin-bottom:7px}
	.prod_desc{color:#999;display:block;margin-bottom:13px}
	.price{font-weight:bold;color:#454545}
	.price em{font-size:18px}
	.price .before{color:#afafaf;text-decoration:line-through;margin-right:4px}
	.price .before em{font-size:14px}
	.price .after{color:#f54500}

}
/* recommend 상품 목록 */
.recmd_item .prod_list ul{width:auto}
.recmd_item .prod_list li{width:254px;margin-right:28px}

/* 슬라이더 네비게이션 */
.nav_dot{
	text-align:center;font-size:0;padding-bottom:10px;
	button{@extend %sp-ico;width:18px;height:18px;background-position:2px -98px;border:0;cursor:pointer}
	button.selected{background-position:-18px -98px}
	
}

/* 배너 */
.banner_cover{padding:40px 31px 40px 30px;font-size:0}
.banner_cover a{padding:0 9px 0 10px}


