%display-inline-block{display:inline-block;*display:inline;*zoom:1}
%sp-img{background-image:url(../im/sp_img.png);background-repeat:no-repeat;background-color:transparent;@extend %display-inline-block;vertical-align:top}
%sp-ico{@extend %sp-img;background-image:url(../im/sp_ico.png)}
%sp-main-tit{@extend %sp-img;background-image:url(../im/sp_main_tit.png)}
%sp-fav{@extend %sp-img;background-image:url(../im/sp_fav.png)}
%sp-pt-bg{@extend %sp-img;background-image:url(../im/pt_sp_bg.png);background-repeat:repeat-x}
%cover{width:1180px;margin:0 auto;position:relative;zoom:1}
body{background-color:#f8f8f8}
/* 메인 - header */
.header{
	position:relative;background-color:#fff;
	.gnb_area{height:40px;line-height:40px;background-color:#5cc4b9;@extend %display-inline-block;width:100%}
	.cover{@extend %cover;}
	.logo a{@extend %sp-img;width:125px;height:18px;background-position:-30px 0;position:relative;top:11px}
	.gnb{position:absolute;right:238px;top:0;font-size:0;}
	.gnb li{@extend %display-inline-block;}
	.gnb li a{color:#fff;font-size:11px;letter-spacing:-1px}
	.gnb li a:hover{text-decoration:underline}
	.gnb li .bar{color:#fff;font-size:11px;padding:0 11px 0 12px}
	
	.search_bar{background-color:#fff;height:26px;width:193px;padding-right:30px;position:absolute;right:0;top:7px}
	.search_bar .search_ipt{width:100%;height:26px;border:0;background-color:transparent;vertical-align:top}
	.search_bar .btn_search{position:absolute;right:0;top:0;border:0;background-color:transparent;@extend %sp-img;width:30px;height:26px;background-position:8px 5px}
	
	.category_cover{@extend .cover;height:90px}
	.category{padding:38px 40px 0;font-size:0}
	.category li{@extend %display-inline-block;vertical-align:middle}
	.category a{color:#454545;font-size:12px;letter-spacing:-1px;@extend %sp-img;height:13px;margin-right:32px}	
	.category{
		.new_arrival{background-position:0 -30px;width:80px}
		.new_arrival:hover,.selected .new_arrival{background-position:0 -70px}		
		.best_50{background-position:-112px -30px;width:46px}
		.best_50:hover,.selected .best_50{background-position:-112px -70px}		
		.earring{background-position:-191px -30px;width:52px}
		.earring:hover,.selected .earring{background-position:-191px -70px}		
		.necklace{background-position:-276px -30px;width:60px}
		.necklace:hover,.selected .necklace{background-position:-276px -70px}
		.bracelet{background-position:-369px -30px;width:58px}
		.bracelet:hover,.selected .bracelet{background-position:-369px -70px}
		.ring{background-position:-459px -30px;width:29px}
		.ring:hover,.selected .ring{background-position:-459px -70px}
		.silver{background-position:-520px -30px;width:40px}
		.silver:hover,.selected .silver{background-position:-520px -70px}
		.gold{background-position:0 -50px;width:32px}
		.gold:hover,.selected .gold{background-position:0 -90px}
		.set{background-position:-64px -50px;width:21px}
		.set:hover,.selected .set{background-position:-64px -90px}
		.watch{background-position:-116px -50px;width:42px}
		.watch:hover,.selected .watch{background-position:-116px -90px}
		.key_ring{background-position:-191px -50px;width:54px}
		.key_ring:hover,.selected .key_ring{background-position:-191px -90px}
		.nail{background-position:-278px -50px;width:28px}
		.nail:hover,.selected .nail{background-position:-278px -90px}
		.hair_acc{background-position:-338px -50px;width:55px}
		.hair_acc:hover,.selected .hair_acc{background-position:-338px -90px}
		.special_item{background-position:-425px -50px;width:79px;margin-right:0}
		.special_item:hover,.selected .special_item{background-position:-425px -90px}
	}	
}

.container{@extend %cover;background-color:#fff}
.hero{position:relative}
/* 슬라이더 */
.slider{overflow:hidden;zoom:1}
.slider ul{position:relative;white-space:nowrap;font-size:0}
.slider li{@extend %display-inline-block}	
.btn_next,.btn_prev{@extend %sp-ico;border:0;width:46px;height:46px;position:absolute;left:40px;top:50%;margin-top:-23px;z-index:20;cursor:pointer}
.btn_next{background-position:-66px 0;right:40px;left:auto}

/* 섹션 */
.section_list{padding:30px 40px 0}
.section_head{
	height:24px;margin-bottom:20px;position:relative;border-bottom:1px solid #e4e4e4;
	.tit_recomm{@extend %sp-main-tit;width:151px;height:22px;background-position:4px 3px}
	.tit_best_item{@extend %sp-main-tit;width:75px;height:22px;background-position:4px -17px}
	.tit_new_arrival{@extend %sp-main-tit;width:91px;height:22px;background-position:4px -37px}
	.tit_general{@extend %sp-main-tit;width:106px;height:22px;background-position:4px -57px;margin-bottom:16px}
	
	.tab{position:absolute;right:0;top:0;white-space:nowrap;padding:0 3px}
	.tab li{@extend %display-inline-block;padding-left:30px}
	.tab a{color:#999;font-size:12px;letter-spacing:-1px;@extend %display-inline-block;height:23px;line-height:23px}
	.tab a:hover,.tab .selected a{color:#454545}
	.tab .selected a{border-bottom:2px solid #f54500}
}

/* general store 탭 */
.general_store{
	.section_head{height:auto;border:0}
	.tab{position:static;overflow:hidden;padding:0 0 0 1px;@extend %sp-pt-bg;background-position:0 39px;height:40px}
	.tab li{padding:0;border:1px solid #e4e4e4;float:left;margin-left:-1px;border-bottom:0}
	.tab li.selected{border-color:#bfbfbf;border-bottom:1px solid #fff;position:relative;z-index:10;margin-bottom:-1px}
	.tab a{width:160px;height:38px;line-height:38px;text-align:center}
	.tab .selected a{border:0}
	.tab .hot_sale a{width:293px;color:#f54500}
	.inr_bnr{@extend %display-inline-block;background-color:#00a99d;color:#fff;height:20px;line-height:20px;padding:0 4px;margin-left:4px}
}

/* 상품 목록 */
.prod_list{
	position:relative;zoom:1;
	.btn_prev,.btn_next{position:absolute;left:0;top:146px;width:19px;height:39px;margin-top:0;background-position:0 -50px}
	.btn_next{background-position:-58px -50px;right:0;left:auto}
	.btn_prev:hover{background-position:-29px -50px}
	.btn_next:hover{background-position:-87px -50px}
	ul{font-size:0;width:1120px}
	li{@extend %display-inline-block;width:208px;margin-right:15px;margin-bottom:28px}	
	a{font-size:12px;@extend %display-inline-block;width:100%;line-height:16px}
	.prod_thumb{border:1px solid #e5e5e5;background-color:#f8f8f8;display:block;overflow:hidden;margin-bottom:13px}
	.selected .prod_thumb,
	a:hover .prod_thumb{border-color:#f54500}
	.prod_thumb img{vertical-align:top}
	.prod_name{color:#454545;display:block;margin-bottom:7px}
	.prod_desc{color:#999;display:block;margin-bottom:13px}
	.price{font-weight:bold;color:#454545}
	.price em{font-size:18px}
	.price .before{color:#afafaf;text-decoration:line-through;margin-right:4px}
	.price .before em{font-size:14px}
	.price .after{color:#f54500}

}
/* recommend 상품 목록 */
.recmd_item .prod_list ul{width:auto}
.recmd_item .prod_list li{width:254px;margin-right:28px}

/* 슬라이더 네비게이션 */
.nav_dot{
	text-align:center;font-size:0;padding-bottom:10px;
	button{@extend %sp-ico;width:18px;height:18px;background-position:2px -98px;border:0;cursor:pointer}
	button.selected{background-position:-18px -98px}
	
}

/* 배너 */
.banner_cover{padding:40px 31px 40px 30px;font-size:0}
.banner_cover a{padding:0 9px 0 10px}

/* 공지사항 영역 */
.notice_box{padding:40px 38px 40px 40px;font-size:0}
.bnr_box{background-color:#f2f2f2;@extend %display-inline-block;width:255px;height:210px;vertical-align:top;margin-right:20px}
.bnr_box ul{padding:11px 17px 0}
.bnr_box li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.bnr_box a{color:#757575;padding:0 0 3px;line-height:18px;font-size:11px;letter-spacing:-1px}
.bnr_box .innr_bnr{display:block;padding:16px}
.bnr_box .innr_bnr img{vertical-align:top;border:0}
.bnr_box.notice{width:290px}
.bnr_box.cst_center{width:240px;margin:0;position:relative}
.bnr_box.cst_center{
	.delivery,
	.qna,
	.faq{position:absolute;left:26px;top:97px;width:44px;height:14px;z-index:20;background-color:#fff;opacity:0;filter:alpha(opacity=0)}
	.qna{left:102px}
	.faq{left:174px}
}
.tit_notice{@extend %sp-main-tit;width:108px;height:12px;background-position:0 -80px;margin:16px 0 0 16px}

/* footer */
.footer{@extend %cover;}
.policy{
	text-align:center;font-size:0;padding:17px 0;
	li{@extend %display-inline-block;padding:0 13px}
	a{color:#757575;@extend %display-inline-block;}
	.corp_intro{@extend %sp-img;width:41px;height:16px;background-position:0 -118px}
	.user_guide{@extend %sp-img;width:40px;height:16px;background-position:-51px -118px}
	.terms{@extend %sp-img;width:41px;height:16px;background-position:-101px -118px}
	.private{@extend %sp-img;width:81px;height:16px;background-position:-152px -118px}
	.help_cs{@extend %sp-img;width:41px;height:16px;background-position:-243px -118px}
}
.contact{
	color:#fff;background-color:#35c2de;font-size:11px;letter-spacing:-1px;line-height:18px;padding:20px 20px 20px 292px;position:relative;zoom:1;
	.logo_yellowphant{@extend %sp-img;width:213px;height:40px;background-position:-350px -110px;position:absolute;left:40px;top:27px}
	.logo_inipay{@extend %sp-img;width:43px;height:43px;background-position:-294px -111px;position:absolute;right:20px;top:25px}
	.link{background-color:#f9e21e;color:#35c2de;@extend %display-inline-block;padding:0 3px;margin-left:4px;line-height:18px;vertical-align:middle}
	.bar{padding:0 5px}
}

.favorite_bar{
	position:fixed;left:50%;top:138px;margin:0 0 0 598px;
	.tit_favorite{@extend %sp-fav;width:70px;height:45px;background-position:-60px -202px}
	ul{border:1px solid #ddd;margin-bottom:3px;background-color:#fff}
	li{vertical-align:top}
	li a{@extend %sp-fav;width:68px;height:51px}
	.logout{background-position:9px 8px}
	.sign_up{background-position:9px -43px}
	.shopping_bag{background-position:9px -94px}
	.wish_list{background-position:9px -145px}
	.my_krisha{background-position:9px -196px}
	.delivery{background-position:9px -247px}
	.gift{background-position:-55px 10px;height:71px}
	.membership{background-position:-55px -61px;height:71px}
	.counsel_kakao{background-position:-55px -132px;height:70px}

	
}









